Repository QualityUnit/liveagent-theme, pull requests merged in 2022-12, with the labels that each got.

#866 [969] Removed vertical space for images on mobile in blocks with aside
  assets/styles/components/_Block.scss
Labels: status:ready-to-merge, status:review-OK

#867 [935] feat: new multiple contactus options box instead of chat button only
  assets/images/contact/browser-call.svg
  assets/images/contact/form.svg
  assets/images/contact/messenger.svg
  assets/images/contact/phone.svg
  assets/images/contact/whatsapp.svg
  assets/images/icon-close.svg
  assets/scripts/app/cookies.js
  assets/scripts/app/fakeChatButton.js
  assets/scripts/app/toggleVisibility.js
  assets/styles/Elementor.scss
  assets/styles/app.scss
  assets/styles/common/_global.scss
  assets/styles/common/_mixins.scss
  assets/styles/components/_ContactUs.scss
  assets/styles/components/_CookieBar.scss
  assets/styles/elements/_FakeChatButton.scss
  base-scripts.php
  base.php
  chat-button.php
  composer.lock
  contactus-box.php
  templates/footer.php
Labels: status:ready-to-merge, status:review-OK

#868 [935] fix: phone number change
  contactus-box.php
Labels: status:review-OK

#869 [974] fix: coauthor image size and lazyload
  assets/styles/layouts/_BlogPost.scss
  lib/shortcodes/author.php
Labels: status:ready-to-merge, status:review-OK

#870 [972] fix: header tags and texts
  assets/styles/elements/_Typography.scss
  templates/content-archive-ms_reviews-categories.php
Labels: status:ready-to-merge, status:review-OK

#879 [968] fix: 404 in sitemap.xml
  functions.php
  functions/sitemap-filters.php
  templates/footer.php
Labels: status:ready-to-merge, status:review-OK

#880 [934] Home redesign feedback
  assets/styles/common/_variables.scss
  assets/styles/components/_Boxes.scss
  assets/styles/components/_Reviews.scss
  assets/styles/elements/_Button.scss
  assets/styles/elements/_Typography.scss
  assets/styles/shortcodes/BlockBadges.scss
  functions/shortcodes.php
  lib/shortcodes/awards-badges.php
  lib/shortcodes/gutenberg-awards.php
Labels: status:ready-to-merge, status:review-OK

#881 [978] fix: read more button with title
  templates/content-archive-ms_features.php
Labels: status:ready-to-merge, status:review-OK

#882 [935] fix: conditional phone number in contact us options
  contactus-box.php
Labels: status:ready-to-merge, status:review-OK

#883 [957] fix: added urlslab-skip-all class, fixed guest author image
  assets/styles/layouts/_BlogPost.scss
  composer.lock
  contactus-box.php
  lib/research-block-filters.php
Labels: status:ready-to-merge, status:review-OK

#885 fix: change paths for 404 images
  assets/styles/elements/_Button.scss
  assets/styles/elements/_Typography.scss
Labels: status:review-OK

#884 fix: adding theme versioning for icons.svg
  composer.lock
  functions/content-filters.php
  lib/widgets/qu-reviews/reviews.php
  templates/footer.php
Labels: action:needs-review

#886 [987] fix: visibility switcher
  assets/scripts/app/custom_lightbox_youtube.js
  assets/scripts/app/toggleVisibility.js
  functions/import-functions.php
  lib/extras.php
Labels: status:ready-to-merge, status:review-OK

#899 [988] fix: archive php bug
  templates/content-archive.php
Labels: status:ready-to-merge, status:review-OK

#900 [989] fix: added sidebars to reviews category what is post, blog header fix
  functions/sidebar-toc.php
  lib/pagesources.php
  templates/content-archive-ms_reviews.php
Labels: status:review-OK

#905 fix: custom css, separating blog header
  assets/styles/components/_BlogHeader.scss
  assets/styles/components/_BlogPostHeader.scss
  assets/styles/layouts/_Blog.scss
  assets/styles/layouts/_BlogPost.scss
  assets/styles/pages/Research.scss
  assets/styles/pages/blog.scss
  templates/content-archive-ms_research.php
  templates/content-archive.php
Labels: status:review-OK

#909 [995] fix: move elementor-custom to header
  lib/assets.php
  template-academy-header.php
  template-blog-header.php
Labels: status:review-OK

#910 [995] fix: multiple improvements of mobile lcp
  assets/styles/layouts/_Research.scss
  assets/styles/pages/Checklists.scss
  templates/content-single-ms_checklists.php
  templates/content-single-ms_research.php
Labels: status:review-OK

#911 fix: load articles only when on ms reviews
  functions/get-posts.php
Labels: status:review-OK
