Repository QualityUnit/liveagent-theme, pull requests merged in 2022-08, with the labels that each got.

#365 fix: disable force moving js to footer
  lib/setup.php
Labels: status:ready-to-merge, status:review-OK

#366 [586] fix: sliders images loading at once if slider is in viewport
  assets/scripts/custom/slider.js
  lib/shortcodes/customers-bubble.php
  lib/shortcodes/slider-testimonials-custom.php
  lib/shortcodes/slider-testimonials.php
  lib/shortcodes/small-photo-slider.php
  lib/shortcodes/voip-partners.php
Labels: status:ready-to-merge, status:review-OK

#345 [530] Coupon Banner
  assets/images/icon-copy-2.svg
  assets/styles/app.scss
  assets/styles/common/_mixins.scss
  assets/styles/components/_BlockCoupon.scss
  lib/cleaner/assets.php
Labels: status:ready-to-merge, status:review-OK

#364 [425] Social media page redesign
  assets/styles/components/_BlockSwitcher.scss
  assets/styles/components/_BlockVideo.scss
Labels: status:done, status:review-OK

#388 chore: bump theme version to 1.0.18
  CHANGELOG.md
  functions.php
  style.css
Labels: action:needs-review

#386 [540] Startups page
  assets/images/pricing_crossover.svg
  assets/images/sideribbon_arrow.svg
  assets/images/startups_price_crown.svg
  assets/styles/app.scss
  assets/styles/common/_elementor.scss
  assets/styles/common/_global.scss
  assets/styles/common/_mixins.scss
  assets/styles/components/_Block.scss
  assets/styles/components/_BlockPricing.scss
  assets/styles/components/_BlockStartups.scss
  assets/styles/components/_BlockSwitcher.scss
  assets/styles/components/_Box.scss
  assets/styles/components/_BoxesDotted.scss
  assets/styles/components/_FullHeadline.scss
  assets/styles/components/_IconList.scss
  assets/styles/elements/_Button.scss
  assets/styles/elements/_SideRibbon.scss
  assets/styles/elements/_Typography.scss
  assets/styles/pages/Startups.scss
  functions.php
  functions/sideribbon-arrow.php
  lib/pagesources.php
  lib/shortcodes/block-pricing.php
  lib/shortcodes/signup-form.php
Labels: status:ready-to-merge, status:review-OK

#387 [496] feat: added design for help desk page
  assets/styles/app.scss
  assets/styles/components/_BlockSolution.scss
  assets/styles/layouts/_HelpDesk.scss
Labels: status:ready-to-merge, status:review-OK

#390 [532] fix: small details polishing on use cases
  assets/images/case_scenarios_bg.jpg
  assets/styles/components/Filter.scss
  assets/styles/components/_FullHeadline.scss
  templates/content-archive-ms_success-stories.php
Labels: status:ready-to-merge, status:review-OK

#404 fix: block pricing closing div
  lib/shortcodes/block-pricing.php
Labels: status:ready-to-merge, status:review-OK

#408 chore: bump theme version to 1.0.20
  CHANGELOG.md
  functions.php
  style.css
Labels: status:review-OK

#412 [530] Countdown banner on pricing page
  assets/scripts/custom/countdown.js
  assets/styles/app.scss
  assets/styles/components/_BlockCoupon.scss
  functions/shortcodes.php
  lib/shortcodes/countdown.php
Labels: status:ready-to-merge, status:review-OK

#415 [626] style: redesigned ad element
  assets/styles/components/_TrialBanner.scss
Labels: status:ready-to-merge, status:review-OK

#440 fix: fixes for pricing element
  assets/styles/components/_BlockPricing.scss
  lib/shortcodes/block-pricing.php
Labels: status:ready-to-merge, status:review-OK

#406 feat(web): add demo button
  templates/header.php
Labels: status:ready-to-merge, status:review-OK, action:needs-action-after-deploy

#391 [571] style: fix for value boxes on mobile and tablet viewport
  assets/styles/components/_Block.scss
Labels: status:ready-to-merge, status:review-OK

#411 [655] fix: removed dropcap generator, moved to :first-letter css style
  assets/styles/layouts/_BlogPost.scss
  assets/styles/layouts/_Gutenberg.scss
  functions/content-filters.php
  lib/widgets/qu-howtos/src/scss/_howto.scss
Labels: status:ready-to-merge, status:review-OK

#409 [540] fix: urls to images for startups
  assets/styles/components/_BlockStartups.scss
Labels: status:ready-to-merge, status:review-OK

#410 [623] feat: replaced award images
  assets/images/badges.png
  assets/images/heroHeadline_badges.png
  assets/images/heroHeadline_badges.svg
  assets/styles/components/_HeroHeadlineHome.scss
  assets/styles/pages/TrialRedesign.scss
Labels: status:ready-to-merge, status:review-OK

#413 [621] Read More button visible on mobile
  assets/styles/components/_CategoryItem.scss
Labels: status:ready-to-merge, status:review-OK

#414 [619] Post Buttons margins on mobile
  assets/styles/layouts/_Post.scss
Labels: status:ready-to-merge, status:review-OK

#441 chore: bump theme version to 1.0.21
  CHANGELOG.md
  functions.php
  style.css
Labels: status:review-OK

#444 feat: changes before urlslab plugin update
  CHANGELOG.md
  assets/scripts/custom/blogLazyLoad.js
  base.php
  functions.php
  functions/content-filters-functions.php
  functions/content-filters.php
  style.css
Labels: status:review-OK

#442 [657] switch element switch text
  assets/scripts/app/toggleVisibility.js
  assets/styles/components/_BlockSwitcher.scss
Labels: status:ready-to-merge, status:review-OK, action:needs-action-after-deploy

#453 [537] Footer redesign final changes
  assets/images/icon_social_facebook.svg
  assets/images/icon_social_instagram.svg
  assets/images/icon_social_linkedin.svg
  assets/images/icon_social_twitter.svg
  assets/images/icon_social_youtube.svg
  assets/styles/common/_mixins.scss
  assets/styles/components/_Newsletter.scss
  assets/styles/elements/_Button.scss
  assets/styles/layouts/_Footer.scss
  lib/extras.php
  templates/footer.php
Labels: status:done, status:review-OK

#452 style: adjusted margin under h1 in faq
  assets/styles/components/_ExtraFaq.scss
Labels: status:ready-to-merge, status:review-OK

#445 [617] Main page redesign
  assets/images/box-fx-horizontal01.svg
  assets/images/heroHeadline_bg.jpg
  assets/images/play_seeinaction.svg
  assets/images/scroll_down.svg
  assets/scripts/custom/slider.js
  assets/styles/common/_animations.scss
  assets/styles/components/SliderSuccessStories.scss
  assets/styles/components/_Block.scss
  assets/styles/components/_Box.scss
  assets/styles/components/_Boxes.scss
  assets/styles/components/_HeroHeadlineHome.scss
  assets/styles/components/_Reviews.scss
  assets/styles/elements/_Button.scss
  functions/shortcodes.php
  lib/shortcodes/slider-success-stories.php
Labels: status:ready-to-merge, status:review-OK

#455 [711] Main Nav width in some languages
  assets/styles/layouts/_Header.scss
Labels: status:ready-to-merge, status:review-OK

#456 [712] fix: loading analytics on mobile only after cookie accept
  base-scripts.php
  base.php
Labels: status:ready-to-merge, status:review-OK

#454 [425] Learn more links in Block
  assets/styles/components/IconTabs.scss
  assets/styles/components/_Block.scss
  assets/styles/components/_BlockSwitcher.scss
  assets/styles/components/_BlockVideo.scss
  assets/styles/components/_ExtraFaq.scss
Labels: status:ready-to-merge, status:review-OK

#457 chore: bump theme version to 1.0.23
  CHANGELOG.md
  assets/scripts/custom/blogLazyLoad.js
  functions.php
  style.css
Labels: status:ready-to-merge, status:review-OK

#459 [685] Search field in the checklist section
  templates/content-archive-ms_checklists.php
Labels: status:ready-to-merge, status:review-OK

#464 [540] fix: startups
  CHANGELOG.md
  assets/styles/components/_BlockStartups.scss
  functions.php
  style.css
Labels: status:ready-to-merge, status:review-OK

#461 [674] New sizes of block spaces
  assets/styles/common/_variables.scss
  assets/styles/components/_Block.scss
  assets/styles/components/_BlockChannels.scss
  assets/styles/components/_BlockPoints.scss
  assets/styles/components/_BlockSolutions.scss
  assets/styles/components/_Boxes.scss
  assets/styles/components/_Faq.scss
  assets/styles/components/_HeroBanner.scss
  assets/styles/components/_HorizontalTabs.scss
  assets/styles/components/_Reviews.scss
  assets/styles/components/_Text.scss
  assets/styles/components/_VerticalTabs.scss
Labels: status:ready-to-merge, status:review-OK

#462 [673] Elements margin changed
  assets/styles/common/_variables.scss
  assets/styles/elements/_Checklist.scss
Labels: status:ready-to-merge, status:review-OK

#463 [656] Typo in tag of blockquote shortcode
  lib/shortcodes/block-quote.php
Labels: status:ready-to-merge, status:review-OK

#465 [540] fix: pricing
  assets/styles/components/_BlockStartups.scss
Labels: status:ready-to-merge, status:review-OK

#460 [540] feat: added support for glassy background
  assets/images/bg_glassy.jpg
  assets/styles/components/_Block.scss
Labels: status:ready-to-merge, status:review-OK

#466 Remove YouTube Video schema.org
  functions.php
  functions/lazy-load-youtube-microdata.php
Labels: status:ready-to-merge, status:review-OK

#467 chore: update theme to 1.0.26
  CHANGELOG.md
  functions.php
  style.css
Labels: status:ready-to-merge, status:review-OK
