Repository QualityUnit/liveagent-theme, pull requests merged in 2022-06, with the labels that each got.

#173 feat: project management improvements
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/add_to_project.yml
  .github/workflows/labeler.yml
Labels: action:needs-review

#172 [500] fix: pap tracking with/without cookie
  base.php
Labels: status:ready-to-merge

#170 [467] fix: number of agents improperly calculated price
  apps/web-calc/src/components/elements/agentsSlider.jsx
Labels: status:ready-to-merge

#98 [495] style: reduced margin on demo button
  assets/styles/elements/_Button.scss
  assets/styles/layouts/_Header.scss
Labels: status:ready-to-merge

#105 [499] fix: removal of competitors links in webcalc
  apps/web-calc-featured/src/components/elements/chartBar.jsx
  apps/web-calc/src/components/elements/chartBar.jsx
Labels: status:ready-to-merge

#99 [492] style: fixed hover effect for integration menu items
  assets/styles/layouts/_Header.scss
Labels: status:ready-to-merge, action:needs-action-after-deploy

#188 feat: bump version to 1.0.10
  CHANGELOG.md
  functions.php
  style.css
Labels: status:ready-to-merge

#190 [503] fix: allowing click on whole play button in vertical video box
  assets/scripts/app/custom_lightbox_youtube.js
  assets/styles/components/_BlockVideo.scss
  assets/styles/elements/_YoutubeLoader.scss
  templates/head.php
Labels: status:ready-to-merge

#189 [514] feat: reverted demo button to its original state
  assets/styles/elements/_Button.scss
  assets/styles/layouts/_Header.scss
  templates/header.php
Labels: prio:high, status:ready-to-merge, action:needs-action-after-deploy

#199 chore: bump theme version to 1.0.11
  CHANGELOG.md
  functions.php
  style.css
Labels: action:needs-review

#200 [500] fix: tracking on cookie accept
  base.php
Labels: status:ready-to-merge

#202 fix: video position in video block on desktop
  assets/styles/components/_BlockVideo.scss
Labels: status:ready-to-merge

#237 [554] Blog category fix
  assets/styles/layouts/_BlogPost.scss
  base.php
  templates/content-single.php
Labels: action:needs-review
