Repository QualityUnit/liveagent-theme, pull requests merged in 2022-11, with the labels that each got.

#725 [772] fix: changing build script versioning, few visual tweaks
  apps/typing-test/src/app-state/running/index.tsx
  apps/typing-test/src/style.css
  assets/styles/components/_BannerTypingTest.scss
  lib/shortcodes/typing-test.php
Labels: status:ready-to-merge, status:review-OK

#718 [855] Reviews widget
  .github/workflows/build-test-qu-reviews.yml
  .github/workflows/release-nightly.yml
  .github/workflows/release.yml
  assets/styles/elements/_Typography.scss
  assets/styles/pages/Reviews.scss
  functions/widgets.php
  lib/metaboxes/reviews.php
  lib/post-types/reviews.php
  lib/widgets/qu-expertnote/src/scss/editor.scss
  lib/widgets/qu-reviews/.eslintrc
  lib/widgets/qu-reviews/components/pricing.php
  lib/widgets/qu-reviews/components/progress-bar.php
  lib/widgets/qu-reviews/components/pros-cons.php
  lib/widgets/qu-reviews/components/rating.php
  lib/widgets/qu-reviews/package.json
  lib/widgets/qu-reviews/reviews.php
  lib/widgets/qu-reviews/src/components/EditorRating.js
  lib/widgets/qu-reviews/src/components/Pricing.js
  lib/widgets/qu-reviews/src/components/ProsCons.js
  lib/widgets/qu-reviews/src/components/Rating.js
  lib/widgets/qu-reviews/src/components/Review.js
  lib/widgets/qu-reviews/src/edit.js
  lib/widgets/qu-reviews/src/elements/Arrow.js
  lib/widgets/qu-reviews/src/elements/CategorySelect.js
  lib/widgets/qu-reviews/src/elements/LayoutPicker.js
  lib/widgets/qu-reviews/src/elements/MaxReviews.js
  lib/widgets/qu-reviews/src/elements/ProgressBar.js
  lib/widgets/qu-reviews/src/images/reviews_rating_bg.jpg
  lib/widgets/qu-reviews/src/images/stars_gradient-outline.svg
  lib/widgets/qu-reviews/src/images/stars_gradient.svg
  lib/widgets/qu-reviews/src/images/stars_white-outline.svg
  lib/widgets/qu-reviews/src/images/stars_white.svg
  lib/widgets/qu-reviews/src/layouts/ReviewsSorted.js
  lib/widgets/qu-reviews/src/scss/_review.scss
  lib/widgets/qu-reviews/src/scss/_reviewsRating.scss
  lib/widgets/qu-reviews/src/scss/components/ReviewsData.scss
  lib/widgets/qu-reviews/src/scss/editor.scss
  lib/widgets/qu-reviews/src/scss/frontend.scss
  lib/widgets/qu-reviews/webpack.config.js
  lib/widgets/qu-reviews/wpml-config.xml
  lib/widgets/qu-reviews/yarn.lock
  package.json
  templates/content-archive-ms_reviews-posts.php
  templates/content-single-ms_reviews-top.php
Labels: status:ready-to-merge, status:review-OK

#724 [901] research js errors
  assets/scripts/custom/sidebar_toc.js
Labels: status:ready-to-merge, status:review-OK

#719 [866] feat: skip lazy load of immediately visible images
  templates/content-single-ms_checklists.php
  templates/content-single-ms_research.php
  templates/content-single-ms_success-stories.php
Labels: status:ready-to-merge, status:review-OK

#720 feat: implement SE and JP chat buttons and fixes
  assets/scripts/static/crm_en.js
  assets/scripts/static/crm_se.js
  base-scripts.php
Labels: status:ready-to-merge, status:review-OK

#727 [887] overflow hidden for body
  assets/styles/common/_global.scss
Labels: status:ready-to-merge, status:review-OK

#728 fix: svg icon position
  assets/styles/layouts/_Header.scss
  functions/content-filters.php
Labels: status:ready-to-merge, status:review-OK

#726 [908] FAQ one column width
  assets/styles/common/_variables.scss
  assets/styles/components/_BlockLearnMore.scss
  assets/styles/components/_ExtraFaq.scss
Labels: status:ready-to-merge, status:review-OK

#664 [792] Template blog header dom updated
  assets/styles/components/_HeroHeadlineHome.scss
  template-blog-header.php
Labels: status:ready-to-merge, status:review-OK

#766 [880] fix: css selectors for working wheels
  assets/styles/components/_Loader.scss
  assets/styles/layouts/_FullScreen.scss
  assets/styles/pages/TrialRedesign.scss
Labels: status:ready-to-merge, status:review-OK

#767 [880] fix: wheels
  assets/styles/components/_Loader.scss
Labels: status:review-OK

#768 [915] PHP errors fixing
  lib/rest-api/wpml-rest-api.php
  templates/content-archive-ms_reviews-categories.php
  templates/content-archive-ms_reviews.php
  templates/content-archive.php
  templates/content-single-ms_checklists.php
Labels: status:review-OK

#769 fix: hiding informal article on level 2
  templates/content-archive-ms_reviews.php
Labels: status:review-OK

#770 [916] fix: non working login
  assets/scripts/static/login.js
  lib/shortcodes/login.php
Labels: status:review-OK

#779 [900] Reviews elements upgrade
  assets/images/reviews_1st_level_header_img.png
  assets/images/reviews_2nd_level_footer.png
  assets/images/reviews_2nd_level_header_img.png
  assets/images/reviews_header_post_img.png
  assets/styles/components/_ReviewsCategoryAbout.scss
  assets/styles/components/_ReviewsGallery.scss
  assets/styles/layouts/_ReviewsCategories.scss
  assets/styles/layouts/_ReviewsPosts.scss
  assets/styles/pages/Reviews.scss
  templates/content-archive-ms_reviews.php
  templates/content-single-ms_reviews-top.php
Labels: status:ready-to-merge, status:review-OK

#780 [918] fix: research posts/categories php error
  templates/content-archive-ms_research.php
  templates/content-single-ms_research.php
Labels: status:ready-to-merge, status:review-OK

#783 [586] fix: speed improvements v2
  assets/images/earth.png
  assets/images/start-using-bg.jpg
  assets/images/start-using-bg.png
  assets/scripts/static/jquery.alphanum.js
  assets/scripts/static/jquery.cookie.js
  assets/styles/components/_Block.scss
Labels: status:done, status:review-OK

#782 [845] feat: added more schema data, small seo improvements
  .eslintrc
  assets/scripts/app/trial_banner.js
  assets/scripts/custom/blogLazyLoad.js
  assets/styles/elements/_PostTypography.scss
  assets/styles/elements/_Typography.scss
  templates/content-single-ms_reviews-top.php
  templates/content-single-ms_reviews.php
Labels: action:needs-review

#784 [927] feat: lazy loading of widgets/apps resources when in viewport
  assets/scripts/app/lazyLoad_apps+widgets.js
  lib/shortcodes/typing-test.php
  lib/shortcodes/web-calc-featured.php
  lib/shortcodes/web-calc.php
Labels: status:ready-to-merge, status:review-OK

#785 fix: replace wrong version param
  assets/styles/common/_variables.scss
  assets/styles/components/_Block.scss
  assets/styles/components/_BlockSuccess.scss
  assets/styles/components/_CategoryHeader.scss
  assets/styles/components/_HeroHeadlineHome.scss
  assets/styles/components/_WhatIsHeadline.scss
  assets/styles/layouts/_ErrorPage.scss
  assets/styles/layouts/_Post__header-images.scss
  assets/styles/pages/Checklists.scss
  assets/styles/pages/ChecklistsArchive.scss
  assets/styles/pages/Reviews.scss
  assets/styles/pages/TrialRedesign.scss
  functions/content-filters.php
  lib/widgets/qu-checklists/src/scss/_checklist.scss
Labels: status:ready-to-merge, status:review-OK

#791 [897, 910, 932] Trial Signup Improvements and Fixes
  assets/scripts/static/crm.js
  lib/shortcodes/signup-form-free.php
  lib/shortcodes/signup-form.php
  lib/shortcodes/signup-sidebar.php
Labels: status:review-OK

#799 [889] fix: move styles to correct place
  base.php
  templates/head.php
Labels: status:review-OK

#802 [940] feat: add trailing slash at the end of a link
  functions/content-filters.php
Labels: status:ready-to-merge, status:review-OK

#813 [937] fix: fixing sidebar scroll, few css bugs
  assets/scripts/custom/sidebar_toc.js
  assets/styles/components/BlockPoints.scss
  assets/styles/components/BlockVideo.scss
  assets/styles/components/_Block.scss
  assets/styles/components/_Reference.scss
  assets/styles/layouts/_Post.scss
  assets/styles/shortcodes/BlockDiscover.scss
  assets/styles/shortcodes/ShortTrial.scss
Labels: status:review-OK

#814 [926] fix: few design changes
  apps/typing-test/public/assets/1min-active.svg
  apps/typing-test/public/assets/3min-active.svg
  apps/typing-test/public/assets/5min-active.svg
  apps/typing-test/public/assets/difficulty_easy-active.svg
  apps/typing-test/public/assets/difficulty_hard-active.svg
  apps/typing-test/public/assets/difficulty_normal-active.svg
  apps/typing-test/src/app-state/end/index.tsx
  apps/typing-test/src/app-state/start/index.tsx
  apps/typing-test/src/style.css
  assets/styles/elements/_Tooltip.scss
Labels: status:review-OK

#845 [896] Added Schema org data
  .github/workflows/build-test-qu-commonproblems.yml
  .github/workflows/release-nightly.yml
  .github/workflows/release.yml
  assets/styles/Elementor.scss
  assets/styles/app.scss
  assets/styles/components/_ExtraFaq.scss
  assets/styles/components/_Faq.scss
  assets/styles/elements/_Typography.scss
  assets/styles/layouts/_Post.scss
  functions/widgets.php
  lib/widgets/qu-checklists/index.php
  lib/widgets/qu-commonproblems/commonproblems.php
  lib/widgets/qu-commonproblems/includes/cp-item.php
  lib/widgets/qu-commonproblems/includes/index.php
  lib/widgets/qu-commonproblems/index.php
  lib/widgets/qu-commonproblems/package.json
  lib/widgets/qu-commonproblems/src/components/CommonProblem.js
  lib/widgets/qu-commonproblems/src/components/Editor.js
  lib/widgets/qu-commonproblems/src/components/Header.js
  lib/widgets/qu-commonproblems/src/components/Icon.js
  lib/widgets/qu-commonproblems/src/edit.js
  lib/widgets/qu-commonproblems/src/edit_commonproblems_item.js
  lib/widgets/qu-commonproblems/src/scss/_qu-commonProblems.scss
  lib/widgets/qu-commonproblems/src/scss/editor.scss
  lib/widgets/qu-commonproblems/src/scss/frontend.scss
  lib/widgets/qu-commonproblems/webpack.config.js
  lib/widgets/qu-commonproblems/wpml-config.xml
  lib/widgets/qu-commonproblems/yarn.lock
  lib/widgets/qu-expertnote/index.php
  lib/widgets/qu-expertnote/src/components/ExpertSelect.js
  lib/widgets/qu-expertnote/src/components/Icon.js
  lib/widgets/qu-expertnote/src/components/Top.js
  lib/widgets/qu-expertnote/src/edit.js
  lib/widgets/qu-expertnote/src/scss/editor.scss
  lib/widgets/qu-howtos/index.php
  lib/widgets/qu-reviews/components/pricing.php
  lib/widgets/qu-reviews/components/pros-cons.php
  lib/widgets/qu-reviews/components/rating.php
  lib/widgets/qu-reviews/index.php
  lib/widgets/qu-reviews/reviews.php
  lib/widgets/qu-reviews/src/components/Pricing.js
  lib/widgets/qu-reviews/src/edit.js
  lib/widgets/qu-reviews/src/layouts/ReviewsSorted.js
  lib/widgets/qu-reviews/src/scss/_review.scss
  lib/widgets/qu-reviews/src/scss/editor.scss
  lib/widgets/qu-usecase/index.php
  lib/widgets/statistics/index.php
  package.json
  templates/content-archive-ms_reviews-categories.php
  templates/content-archive-ms_reviews-posts.php
  templates/content-archive-ms_reviews.php
  templates/content-single-ms_directory.php
  templates/content-single-ms_reviews-top.php
  templates/content-single-ms_reviews.php
Labels: action:needs-review

#847 Fix icons builder
  gulpfile.js
  package.json
  yarn.lock
Labels: status:review-OK

#848 fix: icon builder
  gulpfile.js
Labels: status:review-OK

#849 Fix svg icons v3
  .gitignore
  assets/images/icons.svg
  functions.php
  gulpfile.js
  style.css
  yarn.lock
Labels: status:review-OK

#850 [951] Countdown banner
  assets/styles/components/BlockCoupon.scss
  assets/styles/shortcodes/Countdown.scss
Labels: status:review-OK

#852 Fix svg icons v4
  .gitignore
  assets/images/icons.svg
  gulpfile.js
  template-academy-header.php
  template-academy.php
  template-blog-header.php
  template-blog.php
Labels: action:needs-review

#851 [951] fix: adding original gradient to the countdown banner
  assets/styles/components/BlockCoupon.scss
Labels: status:review-OK

#853 Fix case sensitive
  assets/images/icons.svg
  template-academy-header.php
  template-academy.php
  template-blog-header.php
  template-blog.php
Labels: status:review-OK

#855 fix: component import function
  assets/styles/components/BlockCoupon.scss
  functions/components-imports.php
Labels: status:done, status:review-OK

#854 [953] hide images on mobile with urlslab class
  template-academy-header.php
  template-blog-header.php
  template-trial-redesign.php
Labels: status:ready-to-merge, status:review-OK

#856 [947] Reviews multiple changes
  assets/styles/components/_FullHeadline.scss
  assets/styles/editor/editor.scss
  assets/styles/layouts/_ReviewsCategories.scss
  assets/styles/pages/Reviews.scss
  composer.lock
  functions.php
  lib/metaboxes/reviews.php
  lib/taxonomies/reviews-categories.php
  lib/widgets/qu-reviews/components/rating.php
  lib/widgets/qu-reviews/reviews.php
  templates/content-archive-ms_reviews-categories.php
  templates/content-archive-ms_reviews-posts.php
  templates/content-archive-ms_reviews.php
  templates/content-single-ms_reviews-contacts.php
  templates/content-single-ms_reviews-top.php
  templates/content-single-ms_reviews.php
Labels: status:ready-to-merge, status:review-OK

#863 fix: changing loop to get only IDs of posts
  functions/get-posts.php
Labels: status:review-OK

#865 fix: remove trailing slash for pdf files
  functions/content-filters.php
Labels: status:ready-to-merge, status:review-OK

#864 fix: attempt to fix php performance
  assets/styles/pages/Directory.scss
  functions/get-posts.php
  lib/metaboxes/reviews.php
  templates/content-single-ms_reviews-contacts.php
Labels: status:ready-to-merge, status:review-OK
