Repository QualityUnit/liveagent-theme, pull requests merged in 2022-07, with the labels that each got.

#203 [489] Show Eight Related Checklists Without Scrolling
  assets/scripts/custom/sidebar_items_slider.js
  assets/styles/components/SidebarItemsSlider.scss
  templates/content-single-ms_checklists.php
Labels: status:ready-to-merge, status:review-OK, status:testing-OK

#234 [482] Replicate the Design of Feature's Sidebar Menu
  assets/scripts/app/sidebarFloating.js
  assets/styles/components/_CategorySidebar.scss
  assets/styles/pages/Category.scss
Labels: status:ready-to-merge, status:review-OK

#238 [2126] feat: redesign of item element
  assets/images/arrow-right-orange.svg
  assets/styles/components/_BoxesStars.scss
Labels: status:ready-to-merge, status:review-OK, action:needs-action-after-deploy

#280 [481] fix: automatic image switcher on block--switcher
  assets/scripts/app/toggleVisibility.js
  assets/styles/components/_BlockSwitcher.scss
Labels: status:done, status:review-OK

#281 [521] fix: changed scroll event to intersection observer to avoid jumping icon
  assets/scripts/custom/pricing.js
Labels: status:ready-to-merge, status:review-OK

#282 [513] fix: changed title for trial sidebar on directory
  templates/content-single-ms_directory.php
Labels: status:ready-to-merge, status:review-OK

#283 [534] feat: adding promo for tour video
  assets/images/tour_video.png
  assets/styles/layouts/_Header.scss
  functions/content-filters.php
Labels: status:ready-to-merge

#285 [583] fix: checklist condition
  lib/custom-blocks/checklist-post-header-small.php
Labels: status:ready-to-merge, status:review-OK

#294 [591, 592] fix webcalc packages version and missing typing test images
  apps/typing-test/src/style.css
  apps/web-calc-featured/package.json
  apps/web-calc-featured/yarn.lock
  apps/web-calc/package.json
  apps/web-calc/yarn.lock
Labels: prio:high, status:ready-to-merge, status:review-OK

#295 [593] toggleVisibility js fix
  assets/scripts/app/toggleVisibility.js
Labels: prio:high, status:ready-to-merge, type:bug

#296 chore: bump theme version to 1.0.14
  CHANGELOG.md
  functions.php
  style.css
Labels: status:ready-to-merge

#249 [488] Enhancement of Long Texts Element
  assets/images/icon-post-cons.svg
  assets/images/icon-post-pros.svg
  assets/styles/common/_elementor.scss
  assets/styles/components/SmallPhotoSlider.scss
  assets/styles/components/_BlockLearnMore.scss
  assets/styles/elements/_Checklist.scss
  elementor.php
  functions.php
  functions/content-filters-functions.php
  functions/content-filters-learn-more.php
  functions/content-filters.php
Labels: status:ready-to-merge, status:review-OK

#324 fix: faq links color from default to primary color
  assets/styles/components/_ExtraFaq.scss
Labels: status:ready-to-merge, status:review-OK

#293 [581] Responsive behavior of sidebars on post pages
  assets/styles/components/_SignupSidebar.scss
  assets/styles/layouts/_Post.scss
Labels: status:ready-to-merge, status:review-OK

#297 [596] feat: add related resources to checklists
  assets/styles/components/_SimilarSources.scss
  templates/content-single-ms_checklists.php
Labels: status:ready-to-merge, status:review-OK

#298 [595] feat: add website screenshot to directory
  assets/images/browser_window.svg
  assets/styles/pages/Directory.scss
  templates/content-single-ms_directory.php
Labels: status:ready-to-merge, status:review-OK

#250 [494] feat: pricing shortcode redesign
  assets/images/arrow_right_white.svg
  assets/images/bg_pricing.svg
  assets/images/icon-crown.svg
  assets/images/pricing-banner-popular.svg
  assets/images/pricing-banner.svg
  assets/styles/components/_Block.scss
  assets/styles/components/_BlockPricing.scss
  lib/shortcodes/block-pricing.php
Labels: status:ready-to-merge, status:review-OK, action:needs-action-after-deploy

#328 fix: fixed link on compare-plans button
  lib/shortcodes/block-pricing.php
Labels: status:done, status:review-OK

#327 chore: bump theme version to 1.0.15
  CHANGELOG.md
  functions.php
  style.css
Labels: status:ready-to-merge

#329 [562] feat: redefine translation string to allow translation
  templates/content-single-ms_directory.php
  templates/content-single-ms_glossary.php
  templates/content-single-ms_integrations.php
Labels: status:ready-to-merge, status:review-OK

#342 [610] fix: howtos formatting
  lib/widgets/qu-howtos/src/scss/_editor-styles.scss
  lib/widgets/qu-howtos/src/scss/_howto.scss
  lib/widgets/qu-howtos/src/scss/editor.scss
  lib/widgets/qu-howtos/webpack.config.js
Labels: status:ready-to-merge, status:review-OK

#343 [613] fix: encoding in sidebar, php formatting
  functions/content-filters-learn-more.php
Labels: status:ready-to-merge, status:review-OK

#330 [595] fix: missing url and safari hover
  assets/styles/common/_elementor.scss
  assets/styles/pages/Directory.scss
  templates/content-single-ms_directory.php
Labels: status:ready-to-merge, status:review-OK

#362 fix: rewriting regex for adding microdata to dom
  functions/content-filters.php
  functions/lazy-load-youtube-microdata.php
Labels: status:ready-to-merge, status:review-OK

#348 fix: not working blog posts lazyload
  assets/scripts/custom/blogLazyLoad.js
Labels: status:ready-to-merge, status:review-OK

#325 [425] Social media page redesign
  assets/images/press_to_play_bottom.svg
  assets/images/press_to_play_right.svg
  assets/styles/components/_BlockVideo.scss
Labels: status:ready-to-merge, status:review-OK

#332 feat: reworked php to a cycle
  lib/shortcodes/block-pricing.php
Labels: status:ready-to-merge, status:review-OK

#346 refactor: codingStandardsIgnore block removed in content filter
  functions/content-filters.php
Labels: status:ready-to-merge, status:review-OK
