Repository QualityUnit/liveagent-theme, pull requests merged in 2022-10, with the labels that each got.

#562 [617] Main page optimized structure and pixhunt changes
  assets/scripts/custom/slider.js
  assets/styles/common/_elementor.scss
  assets/styles/components/_Block.scss
  assets/styles/components/_Boxes.scss
  assets/styles/components/_HeroHeadlineHome.scss
  assets/styles/components/_Logos.scss
  assets/styles/layouts/_Header.scss
Labels: status:ready-to-merge, status:review-OK

#599 [533] fix: small fixes to design as requested
  assets/styles/components/_BlockSuccess.scss
  assets/styles/components/_Box.scss
  assets/styles/components/_FeaturesTable-New.scss
Labels: status:ready-to-merge, status:review-OK

#600 [775] BlockSolution responsive fix
  assets/styles/components/_BlockSolution.scss
Labels: status:ready-to-merge, status:review-OK

#601 [778] Block--video responsive fixes after Optimized DOM Output
  assets/styles/components/_BlockVideo.scss
Labels: status:ready-to-merge, status:review-OK

#602 fix: changed font weight on pricing tags
  assets/styles/components/_BlockPricing.scss
Labels: status:ready-to-merge, status:review-OK

#616 chore: bump theme version 1.0.34
  CHANGELOG.md
  functions.php
  style.css
Labels: status:review-OK

#617 fix: broken hero images
  CHANGELOG.md
  assets/styles/components/_HeroHeadlineHome.scss
  functions.php
  style.css
Labels: status:done, status:review-OK

#647 [817] feat: add google ads tracking
  CHANGELOG.md
  functions.php
  lib/shortcodes/signup-form-free.php
  lib/shortcodes/signup-form.php
  lib/shortcodes/signup-sidebar.php
  style.css
Labels: status:review-OK

#649 [822] WhatsApp icon in footer
  CHANGELOG.md
  assets/images/icon_social_whatsapp.svg
  functions.php
  style.css
  templates/footer.php
Labels: status:review-OK

#646 [818] tags in BlockPricing block on mobile
  assets/styles/components/_BlockPricing.scss
Labels: status:ready-to-merge, status:review-OK

#648 fix: reviews gallery
  assets/scripts/custom/reviewsGallery.js
  templates/content-single-ms_reviews-top.php
  templates/content-single-ms_reviews.php
Labels: status:ready-to-merge, status:review-OK

#650 [822] WhatsApp number in footer
  CHANGELOG.md
  assets/styles/common/_fontello.scss
  assets/styles/layouts/_Footer.scss
  assets/webfonts/fontello.eot
  assets/webfonts/fontello.svg
  assets/webfonts/fontello.ttf
  assets/webfonts/fontello.woff
  assets/webfonts/fontello.woff2
  functions.php
  style.css
  templates/footer.php
Labels: status:ready-to-merge, status:review-OK

#663 [815] SVG icons sprite
  .gitignore
  assets/styles/components/_HeaderLanguageSwitcher.scss
  assets/styles/layouts/_Header.scss
  composer.json
  composer.lock
  functions/content-filters.php
  gulpfile.js
  lib/shortcodes/language-switcher.php
  package.json
  yarn.lock
Labels: status:ready-to-merge, status:review-OK, action:needs-testing

#651 fix: icontabs reloading on tab switch
  assets/scripts/custom/IconTabs.js
  templates/content-archive-ms_reviews-posts.php
  templates/content-single-ms_reviews.php
Labels: status:ready-to-merge, status:review-OK

#659 [730] fix: faq and related res. width
  assets/styles/components/_ExtraFaq.scss
  assets/styles/layouts/_Post.scss
  lib/shortcodes/extra-faq.php
  template-academy-header.php
  template-academy.php
  template-blog-header.php
  template-blog.php
  templates/content-single-ms_academy.php
  templates/content-single-ms_checklists.php
  templates/content-single-ms_directory.php
  templates/content-single-ms_features.php
  templates/content-single-ms_glossary.php
  templates/content-single-ms_integrations.php
  templates/content-single-ms_reviews.php
  templates/content-single-ms_templates.php
  templates/content-single.php
Labels: status:ready-to-merge, status:review-OK

#661 [770] fix: small design changes
  .github/workflows/release.yml
  assets/images/reviews_1st_level_header_img.png
  assets/styles/elements/_ReviewsRating.scss
  assets/styles/layouts/_ReviewsCategories.scss
  assets/styles/pages/Reviews.scss
  templates/content-single-ms_reviews-top.php
Labels: status:ready-to-merge, status:review-OK

#666 chore: bump theme version to 1.2.0
  CHANGELOG.md
  functions.php
  style.css
Labels: status:ready-to-merge, status:review-OK

#667 [815] fix: support for both fontello and svg icons in menu
  CHANGELOG.md
  assets/styles/layouts/_Header.scss
  functions.php
  style.css
Labels: status:review-OK

#662 [772] Typing test redesign
  .github/workflows/release.yml
  apps/typing-test/package.json
  apps/typing-test/public/assets/1min-active.svg
  apps/typing-test/public/assets/1min.png
  apps/typing-test/public/assets/1min.svg
  apps/typing-test/public/assets/3min-active.svg
  apps/typing-test/public/assets/3min.png
  apps/typing-test/public/assets/3min.svg
  apps/typing-test/public/assets/5min-active.svg
  apps/typing-test/public/assets/5min.png
  apps/typing-test/public/assets/5min.svg
  apps/typing-test/public/assets/baby.png
  apps/typing-test/public/assets/difficulty_easy-active.svg
  apps/typing-test/public/assets/difficulty_easy.svg
  apps/typing-test/public/assets/difficulty_hard-active.svg
  apps/typing-test/public/assets/difficulty_hard.svg
  apps/typing-test/public/assets/difficulty_normal-active.svg
  apps/typing-test/public/assets/difficulty_normal.svg
  apps/typing-test/public/assets/man.png
  apps/typing-test/public/assets/ninja.png
  apps/typing-test/src/app-state/running/index.tsx
  apps/typing-test/src/assets/baby.png
  apps/typing-test/src/assets/difficulty_easy.svg
  apps/typing-test/src/assets/difficulty_hard.svg
  apps/typing-test/src/assets/difficulty_medium.svg
  apps/typing-test/src/assets/man.png
  apps/typing-test/src/assets/ninja.png
  apps/typing-test/src/style.css
  apps/typing-test/webpack.config.js
  assets/images/banner_typingtest.png
  assets/styles/app.scss
  assets/styles/common/_global.scss
  assets/styles/components/_BannerTypingTest.scss
  assets/styles/components/_Faq.scss
  assets/styles/elements/_Tooltip.scss
Labels: status:ready-to-merge, status:review-OK

#703 [859] Pseudo element as badges image was removed
  assets/styles/components/_BlockBadges.scss
Labels: status:ready-to-merge, status:review-OK

#704 Img loading - duplicate loads fix
  assets/scripts/custom/sidebar_items_slider.js
  assets/scripts/custom/sidebar_toc.js
Labels: status:ready-to-merge, status:review-OK

#705 [880] fix: removing lazyload from signup critical scripts
  assets/scripts/custom/sidebar_toc.js
  lib/shortcodes/login.php
  lib/shortcodes/signup-form-free.php
  lib/shortcodes/signup-form.php
  lib/shortcodes/signup-sidebar.php
Labels: status:ready-to-merge, status:review-OK

#706 chore: bump theme version to 1.3.0
  CHANGELOG.md
  functions.php
  lib/widgets/qu-checklists/yarn.lock
  lib/widgets/qu-expertnote/yarn.lock
  style.css
Labels: status:review-OK

#709 [884] fix: conditional values
  templates/content-single-ms_reviews-top.php
Labels: status:ready-to-merge, status:review-OK

#708 [890] "load_inline_svg" function was removed
  assets/images/icon_social_facebook.svg
  assets/images/icon_social_instagram.svg
  assets/images/icon_social_linkedin.svg
  assets/images/icon_social_twitter.svg
  assets/images/icon_social_whatsapp.svg
  assets/images/icon_social_youtube.svg
  lib/extras.php
  templates/footer.php
Labels: status:ready-to-merge, status:review-OK

#711 fix: skip processing of header, footer and sidebar by urlslab plugin
  lib/shortcodes/signup-sidebar.php
  template-academy-header.php
  template-academy.php
  template-blog-header.php
  template-blog.php
  templates/content-single-ms_about.php
  templates/content-single-ms_academy.php
  templates/content-single-ms_checklists.php
  templates/content-single-ms_directory.php
  templates/content-single-ms_features.php
  templates/content-single-ms_glossary.php
  templates/content-single-ms_integrations.php
  templates/content-single-ms_reviews.php
  templates/content-single-ms_success-stories.php
  templates/content-single-ms_templates.php
  templates/content-single.php
  templates/footer.php
  templates/header.php
Labels: status:ready-to-merge, status:review-OK

#710 [866] feat: skip lazy load of immediately visible images
  lib/shortcodes/clients.php
  lib/shortcodes/language-switcher.php
  template-trial-redesign.php
  templates/header.php
Labels: status:ready-to-merge, status:review-OK

#712 [734] fix: remove schema.org fix
  functions/content-filters.php
Labels: status:ready-to-merge, status:review-OK
