Repository QualityUnit/liveagent-theme, pull requests merged in 2022-09, with the labels that each got.

#497 [620] Sidebar on About pages
  assets/styles/pages/About.scss
Labels: status:ready-to-merge, status:review-OK

#498 [711] main nav fix in languages
  assets/styles/layouts/_Header.scss
Labels: status:ready-to-merge, status:review-OK

#513 chore: bump theme version to 1.0.27
  CHANGELOG.md
  functions.php
  style.css
Labels: status:ready-to-merge, status:review-OK

#518 chore: bump theme version to 1.0.28
  CHANGELOG.md
  functions.php
  style.css
Labels: status:review-OK

#514 [734] fix: fixing yoast schema urls
  functions/content-filters.php
Labels: status:ready-to-merge, status:review-OK

#515 [624] fix: hover on Tour video in Product menu
  assets/styles/layouts/_Header.scss
  functions/content-filters.php
Labels: status:ready-to-merge, status:review-OK

#516 [743] GTM scripts
  base-scripts.php
Labels: status:ready-to-merge, status:review-OK

#519 [586] fix: wrong relative urls
  assets/styles/common/elementor-custom.scss
  assets/styles/components/_BlockChannels.scss
  assets/styles/components/_BlockPoints.scss
  assets/styles/components/_BlockPricing.scss
  assets/styles/components/_BlockResearch.scss
  assets/styles/components/_BlockVideo.scss
  assets/styles/components/_Box.scss
  assets/styles/components/_Boxes.scss
  assets/styles/components/_BoxesDotted.scss
  assets/styles/components/_BoxesImage.scss
  assets/styles/components/_BoxesStars.scss
  assets/styles/components/_DemoElement.scss
  assets/styles/components/_Reference.scss
  assets/styles/components/_ShortTrial.scss
  assets/styles/components/_TourPageCTA.scss
  assets/styles/components/_TourPageNumbers.scss
  assets/styles/elements/_ResearchBlock.scss
  assets/styles/layouts/_Research.scss
  assets/styles/layouts/_ResearchPost.scss
  assets/styles/layouts/tests/_RequestDemo.scss
  assets/styles/layouts/tests/_ScheduleDemo.scss
Labels: status:ready-to-merge, status:review-OK

#517 [425] Social Media Support Page - additional fixes
  assets/images/arrow_small_right.svg
  assets/styles/common/_mixins.scss
  assets/styles/components/_Block.scss
  assets/styles/components/_BlockVideo.scss
  assets/styles/components/_BoxesStars.scss
  assets/styles/components/_FeaturesTable-New.scss
  assets/styles/elements/_Typography.scss
Labels: status:review-OK

#532 [756] fix: fixing video iframe insertion on modal videos
  assets/scripts/app/custom_lightbox_youtube.js
Labels: status:review-OK

#502 [533] tour page redesign
  assets/images/block_success_bg.jpg
  assets/images/block_success_quote.svg
  assets/styles/app.scss
  assets/styles/common/_global.scss
  assets/styles/common/_reset.scss
  assets/styles/components/_Block.scss
  assets/styles/components/_BlockSuccess.scss
  assets/styles/components/_Box.scss
  assets/styles/components/_FeaturesTable-New.scss
  assets/styles/elements/_Typography.scss
  lib/shortcodes/good-hands.php
Labels: status:review-OK

#533 chore: bump theme version to 1.0.30
  CHANGELOG.md
  functions.php
  style.css
Labels: status:review-OK

#534 fix: change old cdn to www cdns url
  apps/typing-test/src/style.css
  lib/shortcodes/good-hands.php
  lib/shortcodes/gutenberg-awards.php
  lib/shortcodes/gutenberg-reference.php
  lib/shortcodes/gutenberg-reviews.php
  lib/shortcodes/reviews.php
  template-academy-header.php
  template-blog-header.php
  template-demo.php
  template-free-account.php
  template-trial-redesign.php
  template-trial.php
  templates/head.php
Labels: status:ready-to-merge, status:review-OK

#560 chore: bump theme version to 1.0.31
  CHANGELOG.md
  functions.php
  style.css
Labels: status:done, status:review-OK

#561 [533] fix: tour page
  assets/styles/common/_global.scss
  assets/styles/components/_BlockSuccess.scss
  assets/styles/components/_FeaturesTable-New.scss
Labels: status:ready-to-merge, status:review-OK

#563 Lazyload fix
  CHANGELOG.md
  assets/scripts/custom/IconTabs.js
  assets/scripts/custom/blogLazyLoad.js
  assets/scripts/custom/sidebar_items_slider.js
  assets/scripts/custom/sidebar_toc.js
  functions.php
  lib/shortcodes/good-hands.php
  lib/shortcodes/people.php
  lib/shortcodes/success-stories.php
  style.css
  template-academy-header.php
  template-blog-header.php
  templates/content-archive-ms_research.php
  templates/content-archive.php
Labels: status:ready-to-merge, status:review-OK

#567 [743] Revert Google Analytics Back
  base-scripts.php
  lib/cleaner/assets.php
Labels: status:ready-to-merge, status:review-OK

#566 [533] fix: two small bugfixes to tour page
  assets/styles/components/_BlockPricing.scss
  assets/styles/components/_Box.scss
Labels: status:ready-to-merge, status:review-OK

#564 fix: disable rss
  lib/cleaner/wordpress.php
Labels: status:ready-to-merge, status:review-OK

#568 chore: bump theme version to 1.0.33
  CHANGELOG.md
  functions.php
  style.css
Labels: status:review-OK
