Repository QualityUnit/liveagent-theme, pull requests merged in 2023-01, with the labels that each got.

#912 [2455] Changed trial duration tags
  assets/styles/components/Signup.scss
  lib/shortcodes/signup-form.php
  template-trial-redesign.php
Labels: status:ready-to-merge, status:review-OK

#915 [1003] Styles for Affiliate program signup page
  assets/styles/Elementor.scss
Labels: status:ready-to-merge, status:review-OK

#965 [991] fix: multiple small issues with css
  assets/styles/Elementor.scss
  assets/styles/components/_BlockSwitcher.scss
  gulpfile.js
  lib/shortcodes/gutenberg-signup.php
  package.json
  yarn.lock
Labels: status:review-OK

#974 [2418] enterprise pricing
  .eslintrc
  assets/images/highlight_underline.png
  assets/images/pricing/tab_business.png
  assets/images/pricing/tab_business_active.png
  assets/images/pricing/tab_enterprise.png
  assets/images/pricing/tab_enterprise_active.png
  assets/images/pricing/tab_inactive.svg
  assets/images/pricing/tab_left.svg
  assets/images/pricing/tab_right.svg
  assets/images/tab_inactive.svg
  assets/images/tab_left.svg
  assets/images/tab_right.svg
  assets/scripts/app/lazyLoad_apps+widgets.js
  assets/scripts/app/progressBar.js
  assets/scripts/app/sidebarFloating.js
  assets/scripts/custom/blogLazyLoad.js
  assets/scripts/custom/circleProgressBar.js
  assets/scripts/custom/postHeaderSmallLocking.js
  assets/scripts/custom/pricing.js
  assets/scripts/custom/pricingNew.js
  assets/scripts/custom/reviewsGallery.js
  assets/scripts/custom/slider.js
  assets/styles/Elementor.scss
  assets/styles/common/_elementor.scss
  assets/styles/common/_global.scss
  assets/styles/components/BlockVideo.scss
  assets/styles/components/_Block.scss
  assets/styles/components/_BlockSwitcher.scss
  assets/styles/elements/_Button.scss
  assets/styles/elements/_Checklist.scss
  assets/styles/elements/_LabelTag.scss
  assets/styles/elements/_PricingTabsMasks.scss
  assets/styles/elements/_ResearchBlock.scss
  assets/styles/elements/_Switcher.scss
  assets/styles/elements/_Tooltip.scss
  assets/styles/elements/_Typography.scss
  assets/styles/layouts/_ComparePlansNew.scss
  assets/styles/layouts/_PricingEnterprise.scss
  assets/styles/layouts/_PricingPrograms.scss
  assets/styles/layouts/_PricingTop.scss
  assets/styles/pages/PricingNew.scss
  functions/content-filters.php
  functions/post-types.php
  lib/pagesources.php
  lib/post-types/pricing-tables.php
  lib/shortcodes/awards-small.php
  lib/shortcodes/signup-form-free.php
  lib/shortcodes/signup-form.php
  lib/shortcodes/signup-sidebar.php
  lib/shortcodes/slider-success-stories.php
  lib/widgets/qu-expertnote/src/scss/editor.scss
  lib/widgets/qu-usecase/src/scss/editor.scss
  templates/content-single-ms_reviews-top.php
Labels: status:ready-to-merge, status:review-OK

#902 [985] Learn-more arrow updates
  assets/images/arrow_small_right.svg
  assets/styles/common/_mixins.scss
  assets/styles/components/BlockVideo.scss
  assets/styles/components/FeaturesTable-New.scss
  assets/styles/components/_Block.scss
  assets/styles/components/_BoxesStars.scss
  assets/styles/elements/_Typography.scss
  functions/content-filters.php
Labels: status:ready-to-merge, status:review-OK

#980 [1023] fix: removing schema from common problems widget
  lib/widgets/qu-commonproblems/includes/cp-item.php
Labels: status:review-OK

#981 [2418] fix: change pricing resources reference
  lib/pagesources.php
Labels: status:review-OK

#982 [2418] fix: compare tables margin
  assets/styles/layouts/_ComparePlansNew.scss
Labels: status:review-OK

#984 feat: add offline button instead of nothing
  base-scripts.php
Labels: status:review-OK

#986 [2418] fix: hiding post type from public
  functions/rest-api.php
  lib/post-types/pricing-tables.php
Labels: status:review-OK

#987 [1035] Remove Horizontal Scrollbar
  assets/styles/components/Signup.scss
Labels: status:review-OK

#985 [934] Home redesign feedback
  assets/styles/common/_mixins.scss
  assets/styles/components/_Boxes.scss
  assets/styles/components/_Logos.scss
  assets/styles/elements/_Button.scss
Labels: status:ready-to-merge, status:review-OK

#988 fix: remove aggregateratingback from review main item
  templates/content-archive-ms_reviews-posts.php
Labels: status:ready-to-merge, status:review-OK

#989 [1022] fix: contact form ids, reviews category_slug missing
  assets/styles/components/_ContactUs.scss
  assets/styles/elements/_FakeChatButton.scss
  contactus-box.php
  templates/content-single-ms_reviews-top.php
Labels: status:ready-to-merge, status:review-OK

#990 [997] small spacing between blocks
  assets/styles/components/_Block.scss
Labels: status:ready-to-merge, status:review-OK

#991 [1026]: typing test banner
  assets/styles/Elementor.scss
Labels: status:done, status:review-OK

#992 [1052] fix: small author tweak
  assets/styles/elements/_ReviewsRating.scss
  templates/content-single-ms_reviews-top.php
Labels: status:ready-to-merge, status:review-OK

#993 [995] optimize sizes and types of images
  assets/images/bg_glassy.jpg
  assets/images/bg_glassy.webp
  assets/images/heroHeadline_bg.jpg
  assets/images/heroHeadline_bg.webp
  assets/styles/common/_variables.scss
  assets/styles/components/_Block.scss
  assets/styles/components/_HeroHeadlineHome.scss
  assets/styles/layouts/_ReviewsCategories.scss
  assets/styles/shortcodes/BlockBadges.scss
Labels: status:ready-to-merge, status:review-OK

#995 [1058] fix: how we review article width
  assets/styles/pages/Reviews.scss
  templates/content-archive-ms_reviews.php
Labels: status:ready-to-merge, status:review-OK

#994 [2418] fix: small changes to pricing
  assets/styles/components/BlockVideo.scss
  assets/styles/layouts/_ComparePlansNew.scss
  assets/styles/layouts/_PricingEnterprise.scss
  assets/styles/layouts/_PricingPrograms.scss
  assets/styles/layouts/_PricingTop.scss
Labels: status:ready-to-merge, status:review-OK

#996 [995] optimize web vitals
  templates/head.php
Labels: status:ready-to-merge, status:review-OK

#997 [995] feat: add web vitals tracking
  base-scripts.php
Labels: status:review-OK

#998 [995] Optimize Web Vitals
  assets/scripts/static/perf.js
  assets/styles/app.scss
  assets/styles/components/EnhancedFaq.scss
  base-scripts.php
  base.php
  templates/head.php
Labels: status:review-OK

#1000 [995] Optimize Web Vitals v3
  lib/assets.php
  lib/cleaner/assets.php
Labels: status:review-OK

#999 [1059] feat: simplified signup form by steps for ab testing
  assets/images/bg_glassy_block_signup.jpg
  assets/images/emoji_glasses.png
  assets/images/emoji_wink.png
  assets/images/trusted_reviews.png
  assets/scripts/static/crm.js
  assets/styles/Elementor.scss
  assets/styles/components/Signup.scss
  assets/styles/components/_BlockSignUpForm.scss
  assets/styles/components/_PostHeaderSmall.scss
  assets/styles/components/_SignupFormSimple.scss
  assets/styles/elements/_TrustedReviews.scss
  functions/shortcodes.php
  lib/shortcodes/signup-form-simple.php
Labels: status:review-OK

#1001 [1069] fix: gutenberg slider
  assets/scripts/custom/slider.js
Labels: status:review-OK

#1003 [1063] fix: small fixes
  assets/styles/components/_DemoBar.scss
  assets/styles/layouts/_Post.scss
  templates/footer.php
Labels: status:ready-to-merge, status:review-OK

#1004 [1060] fix: multiple small fixes to use case scenarios, tracking dreamdata
  assets/styles/layouts/_Post.scss
  base-scripts.php
  lib/shortcodes/success-stories.php
  templates/content-archive-ms_success-stories.php
Labels: status:ready-to-merge, status:review-OK

#1005 fix: replacing buffer special char to remove unwanted css and scripts
  lib/cleaner/assets.php
Labels: status:review-OK

#1006 [1082, 1083] feat: add twitter tracking and dreamdata trial tracking
  assets/scripts/static/crm.js
  base-scripts.php
Labels: status:review-OK
