Repository QualityUnit/liveagent-theme, pull requests merged in 2023-10, with the labels that each got.

#1567 [2056] LA product pages subtitle
  assets/styles/components/_HeroBanner.scss
Labels: status:review-OK

#1615 fixed Video transcript text
  templates/content-single-ms_videos.php
Labels: status:done, status:review-OK

#1616 [2085] fix: blog lazyloading binded to loader instead of footer
  assets/scripts/custom/blogLazyLoad.js
  base-scripts.php
  templates/content-archive-ms_reviews.php
  templates/content-archive.php
Labels: status:done, status:review-OK

#1566 [2044] Typo in LA videos
  templates/content-single-ms_videos.php
Labels: status:ready-to-merge, status:review-OK

#1646 feat: new gtm
  base-scripts.php
Labels: status:review-OK

#1647 [2118] feat: added faq shortcode to more templates
  templates/content-single-ms_features.php
  templates/content-single-ms_reviews.php
  templates/content-single.php
Labels: action:needs-review

#1648 [2121] Remove double related articles
  assets/styles/layouts/_BlogPost.scss
  templates/content-single.php
Labels: status:done, status:review-OK

#1662 fix: handling if categories as array
  functions/import-functions.php
Labels: status:review-OK

#1661 [1520] Ticketing Software Changes
  apps/web-calc-featured/src/assets/style/common/_typography.scss
  apps/web-calc-featured/src/components/elements/agentsSlider.jsx
  apps/web-calc/src/assets/style/common/_typography.scss
  apps/web-calc/src/components/elements/agentsSlider.jsx
Labels: status:review-OK

#1663 [2214] Incomplete AI-generated descriptions in LiveAgent's articles
  templates/content-single-ms_academy.php
Labels: status:review-OK

#1665 [2207] LA Email templates missing FAQ
  templates/content-single-ms_templates.php
Labels: status:review-OK

#1664 [2119] fix: html tags in expert note
  templates/content-single-ms_glossary.php
Labels: action:needs-review

#1666 [2213] Broken Pros and Cons - LA web
  assets/styles/elements/_BulletLists.scss
Labels: action:needs-review
