Repository QualityUnit/liveagent-theme, pull requests merged in 2023-11, with the labels that each got.

#1668 [2095] "Table of contents" block has broken formatting
  base-scripts.php
Labels: status:review-OK

#1711 [2368] mprovement request for LiveAgent's templates
  assets/styles/elements/_Typography.scss
Labels: status:review-OK

#1710 [2248] LA, PAP: please change FAQ from double collumn to one
  assets/styles/shortcodes/_UrlslabFaq.scss
Labels: status:review-OK

#1712 feat: partially disable grafana
  404.php
  assets/scripts/app/analytics.js
  base-scripts.php
  lib/shortcodes/login.php
  lib/shortcodes/newsletter-form.php
  lib/shortcodes/signup-form-free.php
  lib/shortcodes/signup-form-redeemcode.php
  lib/shortcodes/signup-form-simple.php
  lib/shortcodes/signup-form.php
  lib/shortcodes/signup-sidebar.php
  template-academy-header.php
  template-academy.php
  template-demo.php
  template-free-account.php
  template-redeem-code.php
  template-trial-redesign.php
  template-trial.php
  templates/content-archive-ms_academy.php
  templates/content-archive-ms_checklists.php
  templates/content-archive-ms_integrations.php
  templates/content-archive-ms_reviews-sorting.php
  templates/content-archive-ms_success-stories.php
  templates/content-archive-ms_templates.php
  templates/content-single-ms_academy.php
  templates/content-single-ms_directory.php
  templates/content-single-ms_glossary.php
  templates/content-single-ms_integrations.php
  templates/content-single-ms_reviews-contacts.php
  templates/content-single-ms_templates.php
  templates/header.php
Labels: status:review-OK

#1714 [1180] Missing Shadow on Trial Page
  assets/styles/pages/TrialRedesign.scss
Labels: action:needs-review

#1716 [2413] fix: checklist and how to widgets not working after wp update
  lib/widgets/qu-checklists/checklists.php
  lib/widgets/qu-checklists/src/components/CheckListItem.js
  lib/widgets/qu-checklists/src/components/Editor.js
  lib/widgets/qu-checklists/src/edit.js
  lib/widgets/qu-checklists/src/edit_checklistitem.js
  lib/widgets/qu-checklists/src/frontend.js
  lib/widgets/qu-checklists/yarn.lock
  lib/widgets/qu-howtos/src/components/Editor.js
  lib/widgets/qu-howtos/src/components/HowToItem.js
  lib/widgets/qu-howtos/src/edit.js
  lib/widgets/qu-howtos/src/edit_howtoitem.js
Labels: status:done, status:review-OK

#1717 [1448] fix: what is posts translation in reviews
  templates/content-archive-ms_reviews.php
Labels: action:needs-review

#1715 [1169] Visual bug on Arabic Trial Page
  assets/styles/pages/TrialRedesign.scss
Labels: action:needs-review

#1718 [2457] LA articles open in new tab
  templates/header.php
Labels: action:needs-review
