Repository QualityUnit/liveagent-theme, pull requests merged in 2023-06, with the labels that each got.

#1265 [1489] youtube captions
  assets/scripts/app/videoTranscript.js
  assets/styles/app.scss
  assets/styles/shortcodes/VideoTranscript.scss
  templates/content-single-ms_videos.php
Labels: status:review-OK

#1266 [1572] compact header text generated by function
  templates/content-single-ms_checklists.php
  templates/content-single-ms_directory.php
  templates/content-single-ms_features.php
  templates/content-single-ms_glossary.php
  templates/content-single-ms_integrations.php
  templates/content-single-ms_research.php
  templates/content-single-ms_reviews.php
  templates/content-single-ms_templates.php
  templates/content-single-ms_videos.php
  templates/content-single.php
Labels: status:review-OK

#1310 [1558] feat: revert gtm
  base-scripts.php
  lib/shortcodes/signup-form-simple.php
  lib/shortcodes/signup-form.php
  lib/shortcodes/signup-sidebar.php
Labels: status:review-OK

#1315 [1609] Added missing slashes in compact header tags
  templates/content-single-ms_directory.php
Labels: status:ready-to-merge, status:review-OK

#1317 feat: some improvements for cls
  assets/styles/layouts/_Custom.scss
  lib/assets.php
  lib/custom-blocks/compact-header.php
  templates/content-single-ms_directory.php
Labels: status:review-OK

#1316 [1034] New features image
  assets/images/compact_header_features.png
Labels: status:done, status:review-OK

#1313 feat: redesign of features
  assets/images/bg_circles_category_item.jpg
  assets/images/category_item_header_bg.jpg
  assets/images/features_browser_extensions.png
  assets/images/features_browser_extensions_item_bg.jpg
  assets/images/features_callcenter.png
  assets/images/features_callcenter_item_bg.jpg
  assets/images/features_gamification.png
  assets/images/features_gamification_item_bg.jpg
  assets/images/features_integrations.png
  assets/images/features_integrations_item_bg.jpg
  assets/images/features_livechat.png
  assets/images/features_livechat_item_bg.jpg
  assets/images/features_mobileapps.png
  assets/images/features_mobileapps_item_bg.jpg
  assets/images/features_multilingual.png
  assets/images/features_multilingual_item_bg.jpg
  assets/images/features_security.png
  assets/images/features_security_item_bg.jpg
  assets/images/features_service_reporting.png
  assets/images/features_service_reporting_item_bg.jpg
  assets/images/features_social.png
  assets/images/features_social_item_bg.jpg
  assets/images/features_supportportal.png
  assets/images/features_supportportal_item_bg.jpg
  assets/images/features_ticketing.png
  assets/images/features_ticketing_item_bg.jpg
  assets/styles/components/_CategoryItem.scss
  assets/styles/pages/CategoryColorScheme.scss
  assets/styles/pages/CategoryImages.scss
  assets/styles/pages/CategoryItemBgs.scss
  templates/content-archive-ms_features.php
Labels: status:ready-to-merge, status:review-OK

#1318 [1211] Compact Header in Blog Header Template
  template-blog-header.php
Labels: status:ready-to-merge, status:review-OK

#1319 [1608] fix: video glitches
  assets/styles/components/BlockVideo.scss
  assets/styles/shortcodes/VideoTranscript.scss
  templates/content-single-ms_videos.php
Labels: status:done, status:review-OK

#1314 [1034] Compact Header
  assets/images/orange_effect_bg.svg
  assets/scripts/custom/compactHeader.js
  assets/scripts/custom/sidebar_items_slider.js
  assets/styles/components/SignupSidebar.scss
  assets/styles/components/_CategoryItem.scss
  assets/styles/components/_ChecklistsToc.scss
  assets/styles/components/_PostHeaderSmall.scss
  assets/styles/components/_SignupFormSimple.scss
  assets/styles/components/compactHeader.scss
  assets/styles/elements/_FilterMenu.scss
  assets/styles/elements/_SortingMenu.scss
  assets/styles/elements/_menuArrow.scss
  assets/styles/layouts/_Post.scss
  assets/styles/layouts/_ResearchPost.scss
  assets/styles/pages/Archive.scss
  assets/styles/shortcodes/BlockDiscover.scss
  lib/custom-blocks/compact-header.php
  lib/shortcodes/signup-form-simple.php
  lib/shortcodes/signup-sidebar.php
  templates/content-archive-ms_directory.php
  templates/content-archive-ms_glossary.php
  templates/content-archive-ms_reviews.php
  templates/content-single-ms_academy.php
  templates/content-single-ms_directory.php
  templates/content-single-ms_features.php
  templates/content-single-ms_glossary.php
  templates/content-single-ms_integrations.php
  templates/content-single-ms_templates.php
  templates/content-single-ms_videos.php
  templates/content-single.php
Labels: status:review-OK

#1320 [1211] Compact header on SEO pages
  template-blog-header.php
Labels: action:needs-review
