Repository QualityUnit/liveagent-theme, pull requests merged in 2023-02, with the labels that each got.

#1009 [1078] fix: external contact us links nofollow
  contactus-box.php
Labels: status:review-OK

#1072 chore: quick fix of cookie bar
  base-scripts.php
  lib/shortcodes/login.php
  lib/shortcodes/signup-form-free.php
  lib/shortcodes/signup-form-simple.php
  lib/shortcodes/signup-form.php
  lib/shortcodes/signup-sidebar.php
Labels: status:review-OK

#1053 [1065] Homepage feedback changes
  assets/styles/common/_mixins.scss
  assets/styles/components/_Boxes.scss
  assets/styles/shortcodes/SliderSuccessStories.scss
  lib/shortcodes/slider-success-stories.php
Labels: status:ready-to-merge, status:review-OK

#1073 [1059] Signup ab testing bugfixes
  assets/scripts/static/crm.js
  assets/styles/components/_SignupFormSimple.scss
  assets/styles/elements/_Tooltip.scss
  lib/shortcodes/signup-form-simple.php
Labels: status:ready-to-merge, status:review-OK

#1076 feat: improvements based on pagespeed
  apps/web-calc-featured/src/assets/style/common/_variables.scss
  apps/web-calc/src/assets/style/common/_variables.scss
  assets/styles/common/_variables.scss
  assets/styles/common/elementor-custom.scss
  assets/styles/components/IconTabs.scss
  assets/styles/components/SidebarTOC.scss
  assets/styles/components/_Block.scss
  assets/styles/components/_Boxes.scss
  assets/styles/components/_BoxesStars.scss
  assets/styles/components/_CategoryItem.scss
  assets/styles/components/_ExtraFaq.scss
  assets/styles/components/_HeroHeadlineHome.scss
  assets/styles/elements/_PostTypography.scss
  assets/styles/elements/_Typography.scss
  assets/styles/layouts/Footer.scss
  assets/styles/layouts/Header.scss
  assets/styles/layouts/_Research.scss
  assets/styles/layouts/_ResearchPost.scss
  assets/styles/pages/Archive.scss
  assets/styles/pages/SuccessStoriesArticle.scss
  assets/styles/shortcodes/BlockDiscover.scss
  lib/shortcodes/discover-alternatives.php
  lib/shortcodes/discover.php
Labels: status:ready-to-merge, status:review-OK

#1074 [1090] fix: subtitle header only if filled in, removed reviews word in header
  templates/content-archive-ms_reviews-sorting.php
  templates/content-archive-ms_reviews.php
Labels: status:ready-to-merge, status:review-OK

#1077 [1098, 2705] feat: multiple improvements and fixes
  apps/web-calc-featured/src/assets/style/common/_variables.scss
  apps/web-calc/src/assets/style/common/_variables.scss
  assets/styles/common/_variables.scss
  assets/styles/common/elementor-custom.scss
  assets/styles/components/SignupSidebar.scss
  assets/styles/components/_BlogHeader.scss
  assets/styles/components/_CategoryItem.scss
  assets/styles/components/_ExtraFaq.scss
  assets/styles/components/_HeaderLanguageSwitcher.scss
  assets/styles/elements/_PostTypography.scss
  assets/styles/elements/_Typography.scss
  assets/styles/layouts/_Blog.scss
  assets/styles/layouts/_BlogPost.scss
  assets/styles/layouts/_Pricing.scss
  assets/styles/layouts/_ReviewsCategories.scss
  assets/styles/layouts/_ReviewsPosts.scss
  assets/styles/pages/About.scss
  assets/styles/pages/Archive.scss
  assets/styles/pages/Checklists.scss
  assets/styles/pages/SuccessStoriesArticle.scss
  templates/footer.php
  templates/header.php
Labels: status:review-OK

#1078 [1078] fix: add slash at the end of links
  contactus-box.php
  lib/shortcodes/block-quote.php
  lib/shortcodes/blog-cta.php
  lib/shortcodes/discover.php
  templates/content-archive-ms_reviews-categories.php
  templates/content-archive-ms_reviews-posts.php
  templates/content-archive-ms_success-stories.php
  templates/content-single-ms_reviews-top.php
Labels: status:ready-to-merge, status:review-OK

#1079 [1093] fix: fixing tabs on mobile
  assets/styles/layouts/_PricingTop.scss
Labels: status:ready-to-merge, status:review-OK

#1080 Pricing enterprise for production
  assets/styles/elements/_Button.scss
  assets/styles/layouts/_PricingPrograms.scss
  lib/extras.php
  lib/pagesources.php
Labels: status:review-OK

#1052 [1045] feat: change texts in small pricing element
  lib/shortcodes/block-pricing.php
Labels: status:ready-to-merge, status:review-OK

#1081 fix: multiple mobile bugfixes
  assets/scripts/custom/pricingNew.js
  assets/styles/common/_reset.scss
  assets/styles/common/elementor-custom.scss
  assets/styles/layouts/_ComparePlansNew.scss
  assets/styles/layouts/_PricingEnterprise.scss
  assets/styles/layouts/_PricingPrograms.scss
  assets/styles/layouts/_PricingTop.scss
Labels: status:review-OK

#1082 fix: small fixes on mobile
  assets/styles/components/_ExtraFaq.scss
  assets/styles/layouts/_PricingPrograms.scss
Labels: status:done, status:review-OK

#1084 fix: video aspect ratio forced to auto
  assets/styles/common/_elementor.scss
  assets/styles/common/_reset.scss
  assets/styles/common/elementor-custom.scss
Labels: status:review-OK

#1085 [1105] feat: show more descriptive error messages
  assets/scripts/static/crm.js
Labels: status:ready-to-merge, status:review-OK

#1086 [838] Blocks changes for custom service software page
  assets/styles/components/_Boxes.scss
  assets/styles/layouts/_HelpDesk.scss
Labels: status:ready-to-merge, status:review-OK

#983 [874] Breadcrumb and Schema
  assets/styles/Elementor.scss
  assets/styles/app.scss
  assets/styles/elements/_Breadcrumb.scss
  functions/import-functions.php
Labels: status:ready-to-merge, status:review-OK

#1008 [2492] Trial page redesign
  assets/images/trial_sidebar_bg.png
  assets/scripts/app/tooltips.js
  assets/scripts/vendor/popper.js
  assets/styles/components/Signup.scss
  assets/styles/elements/_Tooltip.scss
  assets/styles/pages/TrialRedesign.scss
  gulpfile.js
  lib/assets.php
  lib/shortcodes/signup-form.php
  template-trial-redesign.php
Labels: status:review-OK

#1083 [998] Tour page redesign fixes
  assets/styles/components/FeaturesTable-New.scss
  assets/styles/components/_Box.scss
Labels: status:review-OK

#1088 [1110] Empty category description
  templates/content-archive-ms_reviews.php
Labels: status:review-OK

#1087 [1109] Headings hierarchy on review pages
  assets/styles/components/_ReviewsGallery.scss
  assets/styles/pages/Reviews.scss
  templates/content-single-ms_reviews-top.php
  templates/content-single-ms_reviews.php
Labels: status:review-OK

#1090 [1126] feat: change trial signup texts
  template-trial-redesign.php
  template-trial.php
Labels: status:ready-to-merge, status:review-OK

#1091 [1130] fix: pricing responsivity
  assets/styles/layouts/_PricingEnterprise.scss
  assets/styles/layouts/_PricingPrograms.scss
Labels: action:needs-review

#1092 fix: small tablets
  assets/styles/layouts/_PricingPrograms.scss
Labels: status:review-OK

#1093 [1132] feat: change names of plans
  lib/metaboxes/features.php
  lib/metaboxes/integrations.php
  lib/metaboxes/reviews.php
  lib/shortcodes/block-pricing.php
  lib/shortcodes/short-pricing.php
  templates/content-archive-ms_features.php
  templates/content-single-ms_features.php
  templates/content-single-ms_integrations.php
  templates/content-single-ms_reviews-top.php
Labels: status:review-OK

#1094 [1127] fix: remove underline from links
  assets/styles/components/_Box.scss
  assets/styles/shortcodes/WordCloud.scss
Labels: status:review-OK

#1095 [2455] Tooltips in block pricing blocks
  assets/styles/shortcodes/BlockPricing.scss
Labels: status:ready-to-merge, status:review-OK

#1096 fix: trial logo link
  assets/styles/pages/TrialRedesign.scss
Labels: status:ready-to-merge, status:review-OK

#1097 fix: related resources links
  assets/styles/components/_SimilarSources.scss
Labels: status:ready-to-merge, status:review-OK

#1098 fix: multiple small fixes
  assets/styles/components/IconTabs.scss
  assets/styles/components/SidebarTOC.scss
  assets/styles/components/SignupSidebar.scss
  assets/styles/elements/_PostTypography.scss
  gulpfile.js
  templates/content-single-ms_directory.php
  templates/content-single-ms_reviews-contacts.php
Labels: status:ready-to-merge, status:review-OK

#1099 [838] Spacing in pricing block
  assets/styles/shortcodes/BlockPricing.scss
Labels: status:ready-to-merge, status:review-OK

#1100 [998] Implemented figma comments
  assets/styles/components/FeaturesTable-New.scss
  assets/styles/components/_Block.scss
  assets/styles/components/_Boxes.scss
  assets/styles/components/_HeroHeadlineHome.scss
Labels: status:review-OK
