Repository QualityUnit/liveagent-theme, pull requests merged in 2023-12, with the labels that each got.

#1765 [2393] NEW CTA fo LA
  functions/compact-header.php
  functions/metaboxes.php
  lib/custom-blocks/compact-header.php
  lib/metaboxes/cta-button.php
  lib/metaboxes/signup-sidebar.php
  lib/shortcodes/signup-sidebar.php
  template-blog-header.php
  templates/content-single-ms_academy.php
  templates/content-single-ms_glossary.php
  templates/content-single-ms_templates.php
  templates/content-single.php
Labels: status:review-OK

#1767 [2393] NEW CTA BUTTON for LA
  assets/styles/components/SignupSidebar.scss
  functions.php
  functions/get-cta-button-data.php
  lib/shortcodes/signup-sidebar.php
  template-blog-header.php
  template-blog.php
  templates/content-single-ms_academy.php
  templates/content-single-ms_glossary.php
  templates/content-single-ms_templates.php
  templates/content-single.php
Labels: status:review-OK

#1770 [2492] Edit simple form
  lib/shortcodes/signup-form-simple.php
Labels: status:review-OK

#1774 [2495] Added a field for entering custom URLs in the archives
  functions/metaboxes.php
  lib/metaboxes/custom-urls.php
  templates/content-archive-ms_features.php
Labels: action:needs-review

#1775 [2265] feat: ability to add custom integrations to features archive
  functions/get-posts.php
  lib/metaboxes/features.php
  templates/content-archive-ms_features.php
Labels: action:needs-review

#1773 [1327] added new pinned trial button
  assets/scripts/app/app.js
  assets/styles/Elementor.scss
  assets/styles/app.scss
  assets/styles/components/_TrialStickyButton.scss
  templates/footer.php
Labels: status:done, status:review-OK

#1776 [2265] feat: ability to add custom integrations to features archive
  functions/get-posts.php
  lib/metaboxes/features.php
  templates/content-archive-ms_features.php
Labels: action:needs-review

#1780 [2265] fix: getting integrations only in features category
  functions/get-posts.php
  lib/metaboxes/features.php
Labels: action:needs-review

#1778 [2495] Added a field for entering custom URLs in the features archives
  templates/content-archive-ms_features.php
  templates/header.php
Labels: status:done, status:review-OK

#1781 [2495] Added metabox for custom urls for features
  functions/metaboxes.php
  lib/metaboxes/custom-urls.php
Labels: action:needs-review

#1782 [2415] fix: larger h3
  assets/styles/common/_variables.scss
Labels: action:needs-review

#1783 [1141] feat: change of package icons in pricing
  assets/images/pricing/tab_business.png
  assets/images/pricing/tab_business_active.png
  assets/images/pricing/tap_pricing_business.png
  assets/images/pricing/tap_pricing_business_active.png
  assets/styles/layouts/_PricingEnterprise.scss
  assets/styles/layouts/_PricingTop.scss
Labels: status:review-OK

#1785 [2495] Fixed bad links in data href and add to pillar element
  templates/content-archive-ms_features.php
Labels: status:review-OK

#1784 [2531] Added redirect for videos categories
  functions/redirects.php
Labels: action:needs-review
