Repository QualityUnit/liveagent-theme, pull requests merged in 2023-09, with the labels that each got.

#1555 [1967] feat: editing of signup form in sidebar
  functions/metaboxes.php
  lib/metaboxes/signup-sidebar.php
  lib/shortcodes/signup-sidebar.php
Labels: action:needs-review

#1559 [2011] Lorem ipsum on LA integrations
  templates/content-single-ms_integrations.php
Labels: action:needs-review

#1557 [1289] WhatsApp Feature Promotion
  assets/images/icons-menu-integrations.png
  assets/styles/Elementor.scss
  assets/styles/elements/_BadgeNew.scss
  assets/styles/layouts/Header.scss
  assets/styles/layouts/_ComparePlansNew.scss
  assets/styles/layouts/_PricingPrograms.scss
Labels: status:review-OK

#1560 [2027] fix: meta function rename
  lib/shortcodes/signup-sidebar.php
Labels: status:done, status:review-OK

#1561 [2027] fix: meta function rename
  lib/shortcodes/signup-sidebar.php
Labels: action:needs-review

#1563 [1962] Optimize the Footer and Contact Widget for better caching
  contactus-box.php
  functions.php
  functions/remove-base-classes.php
Labels: status:ready-to-merge, status:review-OK

#1565 [2050] The announcement bar makes an error in the console
  base-scripts.php
Labels: status:ready-to-merge, status:review-OK

#1564 [1652] feat: additional text for knowledgebase webcalc title
  apps/web-calc-featured/src/components/layouts/finalResults.jsx
  apps/web-calc-featured/src/data/i18n/en.json
Labels: status:ready-to-merge, status:review-OK
