Repository QualityUnit/liveagent-theme, pull requests merged in 2023-08, with the labels that each got.

#1442 [1784] fix: continue watching button
  assets/scripts/static/crm.js
  lib/shortcodes/introduction-videos.php
Labels: status:review-OK

#1489 [1770] LA Pricing All features switch is not working
  assets/scripts/custom/pricingNew.js
Labels: status:ready-to-merge, status:review-OK

#1443 [1771] la tour small visual bugs
  .idea/inspectionProfiles/Project_Default.xml
  assets/styles/components/FeaturesTable-New.scss
Labels: status:ready-to-merge, status:review-OK

#1438 [1630] AI Features Promotions
  assets/images/ai-announcement-bar-bg.png
  assets/images/ai-announcement-bar-img-right.png
  assets/images/ai_wishper_assistent_background.jpg
  assets/images/close-announcements-bar-icon.svg
  assets/styles/Elementor.scss
  assets/styles/common/_animations.scss
  assets/styles/components/AnnouncementBar.scss
  assets/styles/components/_AiWhisperAssistent.scss
  assets/styles/layouts/Header.scss
  assets/styles/layouts/_ComparePlansNew.scss
  assets/styles/layouts/_PricingPrograms.scss
  base-scripts.php
  templates/header.php
Labels: status:ready-to-merge, status:review-OK

#1444 [1787] fix: dart sass deprecation, old flex vals
  assets/styles/components/_CategoryItem.scss
  assets/styles/components/_SignupFormSimple.scss
  assets/styles/elements/_Typography.scss
  assets/styles/layouts/_PricingPrograms.scss
  package.json
  yarn.lock
Labels: status:ready-to-merge, status:review-OK

#1490 [1630] AI Features Promotions
  assets/styles/components/_AiWhisperAssistent.scss
Labels: status:review-OK

#1491 [1781] fix bugged link in breadcrumb
  templates/content-single-ms_checklists.php
Labels: status:review-OK

#1494 [1863] If is AI bar visible sub menu is broken
  assets/styles/components/AnnouncementBar.scss
Labels: status:review-OK

#1493 [1815] fix: free crm js not working other langs
  assets/scripts/static/crm-free_ae.js
  assets/scripts/static/crm-free_bg.js
  assets/scripts/static/crm-free_br.js
  assets/scripts/static/crm-free_cn.js
  assets/scripts/static/crm-free_cr.js
  assets/scripts/static/crm-free_cz.js
  assets/scripts/static/crm-free_de.js
  assets/scripts/static/crm-free_dk.js
  assets/scripts/static/crm-free_ee.js
  assets/scripts/static/crm-free_es.js
  assets/scripts/static/crm-free_fi.js
  assets/scripts/static/crm-free_fr.js
  assets/scripts/static/crm-free_gr.js
  assets/scripts/static/crm-free_hu.js
  assets/scripts/static/crm-free_it.js
  assets/scripts/static/crm-free_jp.js
  assets/scripts/static/crm-free_lt.js
  assets/scripts/static/crm-free_lv.js
  assets/scripts/static/crm-free_nl.js
  assets/scripts/static/crm-free_no.js
  assets/scripts/static/crm-free_ph.js
  assets/scripts/static/crm-free_pl.js
  assets/scripts/static/crm-free_ro.js
  assets/scripts/static/crm-free_ru.js
  assets/scripts/static/crm-free_se.js
  assets/scripts/static/crm-free_si.js
  assets/scripts/static/crm-free_sk.js
  assets/scripts/static/crm-free_vn.js
Labels: status:review-OK

#1492 [1822] Grammar issues on the new AI whisper assistant banner
  assets/images/ai-announcement-bar-img-right.png
  templates/header.php
Labels: status:review-OK

#1497 fix: removing faq title from integrations
  templates/content-single-ms_integrations.php
Labels: status:ready-to-merge, status:review-OK

#1496 [1858] Broken element on our product pages
  assets/styles/common/_animations.scss
  assets/styles/components/_HorizontalTabs.scss
Labels: status:ready-to-merge, status:review-OK

#1498 [1209] Redesign of Header Elementor Block
  assets/images/hero-banner-awards.png
  assets/styles/components/_HeroBanner.scss
  assets/styles/components/_HeroHeadlineHome.scss
  assets/styles/components/_Logos.scss
  functions/shortcodes.php
  lib/shortcodes/hero-banner-awards.php
Labels: status:review-OK

#1499 [1888] fix: redesign video section
  assets/styles/components/_CategoryItem.scss
  templates/content-archive-ms_videos.php
Labels: status:review-OK

#1500 [1888] fix: long urls breaking videos design
  assets/styles/components/_CategoryItem.scss
Labels: action:needs-review

#1501 [1706] LA pricing bugs
  assets/styles/layouts/_PricingPrograms.scss
Labels: status:review-OK

#1502 [1209] redesign of feader elementor block
  assets/styles/components/_HeroBanner.scss
  assets/styles/shortcodes/Clients.scss
Labels: action:needs-review
