Repository QualityUnit/liveagent-theme, pull requests merged in 2023-07, with the labels that each got.

#1321 [1034] Reviews post
  assets/styles/elements/_ReviewsRating.scss
  assets/styles/pages/Reviews.scss
  templates/content-single-ms_reviews-top.php
  templates/content-single-ms_reviews.php
Labels: status:ready-to-merge, status:review-OK

#1322 [1663] Home integrations mobile fix
  assets/styles/components/_Reviews.scss
Labels: status:review-OK

#1323 [1034] Compact header small fixes
  assets/styles/components/compactHeader.scss
  assets/styles/shortcodes/BlockDiscover.scss
Labels: status:review-OK

#1426 fix: add urlslab skip all to building app container
  templates/footer.php
Labels: status:review-OK

#1414 [1706] LA pricing list changes
  assets/styles/layouts/_PricingPrograms.scss
Labels: status:review-OK

#1427 [1089] redesign mobile version of trial progress page
  assets/scripts/static/crm.js
  assets/styles/components/_Loader.scss
  assets/styles/shortcodes/IntroductionVideos.scss
  functions/shortcodes.php
  lib/shortcodes/introduction-videos.php
  templates/footer.php
Labels: status:review-OK

#1428 [1089] overlay on trial progress page
  assets/scripts/static/crm.js
  assets/styles/components/_Loader.scss
  lib/shortcodes/introduction-videos.php
Labels: status:review-OK

#1431 [1089] fixed lazy load for videos
  templates/footer.php
Labels: status:done, status:review-OK

#1432 [1089] change data src to data src trial and style for pricinglist
  assets/scripts/static/crm.js
  assets/styles/layouts/_PricingPrograms.scss
  lib/shortcodes/introduction-videos.php
Labels: status:done, status:review-OK

#1433 [1712] fix margins and replace color mixins
  assets/styles/components/_CategoryItem.scss
  assets/styles/pages/Category.scss
Labels: status:review-OK

#1436 [1772] fix: loading lang files for crm and login before actual script
  lib/shortcodes/login.php
  lib/shortcodes/signup-form-free.php
  lib/shortcodes/signup-form-simple.php
  lib/shortcodes/signup-form.php
Labels: action:needs-review

#1435 [1771] added margin to info icon in trial form
  assets/styles/components/Signup.scss
Labels: action:needs-review

#1439 [1782] fix: form not setting crm type
  assets/scripts/app/signup_login_js_loader.js
  assets/scripts/static/login.js
Labels: status:review-OK

#1440 [1784] fix: login button not working
  assets/scripts/static/crm-redeemcode.js
  assets/scripts/static/crm.js
  assets/styles/components/_Loader.scss
  lib/shortcodes/introduction-videos.php
  lib/shortcodes/signup-form-free.php
  lib/shortcodes/signup-form-redeemcode.php
  lib/shortcodes/signup-form-simple.php
  lib/shortcodes/signup-form.php
  lib/shortcodes/signup-sidebar.php
  templates/footer.php
Labels: status:done, status:review-OK

#1441 [1784] fix: functions bugs
  lib/shortcodes/signup-form-free.php
  lib/shortcodes/signup-form-redeemcode.php
  lib/shortcodes/signup-form-simple.php
  lib/shortcodes/signup-form.php
  lib/shortcodes/signup-sidebar.php
Labels: status:done, status:review-OK
