Repository QualityUnit/liveagent-theme, pull requests merged in 2023-03, with the labels that each got.

#1102 [1148] Z-index pricing plans sticky header
  assets/styles/layouts/_ComparePlansNew.scss
Labels: status:review-OK

#1101 [1122] Toggle signup form free trial message
  lib/shortcodes/signup-form.php
Labels: status:ready-to-merge, status:review-OK

#1139 [998] Clients logos horizontal alignment in good hands shortcode
  assets/styles/shortcodes/Clients.scss
Labels: status:done, status:review-OK

#1144 [2486] feat: send ga4 id to crm
  assets/scripts/static/crm.js
Labels: status:review-OK

#1145 [1148] Tooltip fixes
  assets/scripts/app/tooltips.js
  assets/styles/elements/_Tooltip.scss
Labels: status:ready-to-merge, status:review-OK

#1168 Multiple Fixes and Improvements
  .idea/jsLibraryMappings.xml
  assets/styles/components/_Block.scss
  assets/styles/components/_ContactUs.scss
  assets/styles/components/_ExtraFaq.scss
  assets/styles/layouts/_Post.scss
  assets/styles/layouts/tests/RequestDemo.scss
  assets/styles/pages/CategoryImages.scss
  functions/content-filters.php
  lib/metaboxes/features.php
  templates/content-archive-ms_features.php
Labels: status:review-OK

#1169 [1181] New Related Articles
  assets/styles/components/_SimilarSources.scss
  elementor.php
  template-academy-header.php
  template-academy.php
  template-blog-header.php
  template-blog.php
  templates/content-page.php
  templates/content-single-ms_academy.php
  templates/content-single-ms_checklists.php
  templates/content-single-ms_features.php
  templates/content-single-ms_glossary.php
  templates/content-single-ms_integrations.php
  templates/content-single-ms_reviews.php
  templates/content-single-ms_templates.php
  templates/content-single.php
Labels: action:needs-review
