Repository QualityUnit/liveagent-theme, pull requests merged in 2024-01, with the labels that each got.

#1779 [2523] header banners
  .eslintrc
  assets/images/AnnouncementBar-PAP.png
  assets/images/AnnouncementBar-PAP_bg.jpg
  assets/images/AnnouncementBar-Urlslab.png
  assets/images/AnnouncementBar-Urlslab_bg.jpg
  assets/scripts/app/app.js
  assets/scripts/app/awardsSwitching.js
  assets/scripts/app/copyToClipboard.js
  assets/scripts/app/customTabsAccordion.js
  assets/scripts/app/fakeChatButton.js
  assets/scripts/app/glossary.js
  assets/scripts/app/languageSwitcher.js
  assets/scripts/app/trialSticky.js
  assets/scripts/custom/AnnouncementBar.js
  assets/scripts/static/source.js
  assets/styles/common/_global.scss
  assets/styles/components/AnnouncementBar.scss
  assets/styles/layouts/Header.scss
  base-scripts.php
  functions.php
  functions/header-banners.php
  templates/header.php
Labels: action:needs-review

#1772 [1361] redesign mobile menu
  assets/scripts/app/app.js
  assets/styles/components/_HeaderLanguageSwitcher.scss
  assets/styles/layouts/Header.scss
  functions.php
  functions/create-language-menu.php
  lib/setup.php
  lib/shortcodes/language-switcher.php
  templates/header.php
Labels: status:review-OK

#1833 [2580] Incorrect H2 "Partner" on integration posts LA
  templates/content-single-ms_integrations.php
Labels: action:needs-review

#1834 [1506] Wrong Chat Button on Some Customer Success Pages
  base-scripts.php
Labels: action:needs-review

#1837 [2588] Rearrange the order in which CSS files load to minimise CLS
  assets/styles/components/SignupSidebar.scss
  lib/assets.php
  template-blog-header.php
Labels: action:needs-review

#1839 [2593] Removed hover effect on sub items in desktop menu
  assets/styles/layouts/Header.scss
Labels: status:review-OK

#1841 [2132] feat: redesign element
  assets/styles/components/FeaturesTable-New.scss
Labels: status:review-OK

#1842 [2594] LA trial form cuting text
  assets/styles/common/_global.scss
  assets/styles/layouts/Header.scss
  lib/assets.php
  template-blog-header.php
Labels: action:needs-review

#1843 [1327] Added fall back for css gradient
  assets/styles/components/_ContactUs.scss
Labels: action:needs-review

#1844 [2618] Changing duration of trials
  assets/scripts/app/tooltips.js
  lib/shortcodes/signup-form.php
  template-trial-redesign.php
  template-trial.php
Labels: status:review-OK

#1855 fix: switching import css and js
  assets/scripts/app/demobar.js
  assets/styles/Elementor.scss
  assets/styles/app.scss
  demobar.php
Labels: status:review-OK

#1857 2545 fixed broken filtering and fix duplicated posts in the blog
  assets/styles/components/BlogTopPost.scss
  assets/styles/layouts/_Blog.scss
  templates/content-archive.php
Labels: action:needs-review

#1858 [2626] ContactUS button working incorrectly on LA
  assets/scripts/app/toggleVisibility.js
  assets/styles/components/_ContactUs.scss
Labels: status:review-OK

#1862 [2624] FAQs added through urlslab are not showing in "Videos" on LA
  templates/content-single-ms_videos.php
Labels: action:needs-review

#1860 Upgrade Coding Standards
  .idea/liveagent-theme.iml
  .idea/php.xml
  .idea/phpunit.xml
  base.php
  composer.json
  composer.lock
  functions.php
  functions/content-filters-learn-more.php
  functions/get-posts.php
  lib/cleaner/assets.php
  lib/custom-blocks/compact-header.php
  lib/metaboxes/custom-urls.php
  lib/rest-api/get-language-codes.php
  lib/setup.php
  lib/shortcodes/awards-small.php
  lib/shortcodes/introduction-videos.php
  templates/content-archive-ms_reviews-posts.php
  templates/content-single-ms_integrations.php
  templates/content-single-ms_research.php
  templates/header.php
Labels: action:needs-review

#1861 [2634] AI Chatbot promo element
  assets/images/ai-chat-bot-background.jpg
  assets/styles/Elementor.scss
  assets/styles/components/AiChatbot.scss
Labels: action:needs-review

#1863 [2626] Optimizing the animations in the contact us button
  assets/scripts/app/toggleVisibility.js
  assets/styles/components/_ContactUs.scss
Labels: action:needs-review

#1864 [2628] The video transcript feature has a broken design
  assets/styles/shortcodes/VideoTranscript.scss
Labels: action:needs-review

#1859 [2635] Ai assistant promo
  assets/images/ai_assistent_background.jpg
  assets/images/announcementBar-ai-assistant-bg.jpg
  assets/images/announcementBar-ai-assistant.png
  assets/styles/Elementor.scss
  assets/styles/components/AiAssistant.scss
  assets/styles/components/AiAssistantPricing.scss
  assets/styles/components/AnnouncementBar.scss
  functions/header-banners.php
  functions/import-functions.php
  templates/header.php
Labels: action:needs-review

#1865 [2523] I2523 1556 fixes
  assets/styles/components/AnnouncementBar.scss
  assets/styles/components/DemoBar.scss
  assets/styles/layouts/tests/RequestDemo.scss
  functions/header-banners.php
  lib/widgets/qu-checklists/package.json
  lib/widgets/qu-checklists/src/components/CheckListItem.js
  lib/widgets/qu-checklists/src/components/Editor.js
  lib/widgets/qu-checklists/src/edit.js
  lib/widgets/qu-checklists/src/edit_checklistitem.js
  lib/widgets/qu-checklists/src/frontend.js
  lib/widgets/qu-checklists/yarn.lock
Labels: status:review-OK

#1866 [2628] Chaned styles for video transcript and increase z index on demo bar
  assets/styles/components/DemoBar.scss
  assets/styles/shortcodes/VideoTranscript.scss
Labels: status:review-OK

#1868 feat: hiding ai banner
  templates/header.php
Labels: action:needs-review

#1867 [2629] The pricing deal banner is not fully visible
  assets/styles/components/AnnouncementBar.scss
Labels: action:changes-requested

#1869 [2660] Broken sign up banner on LA
  functions/import-functions.php
  templates/header.php
Labels: status:review-OK

#1870 [2662] fix: editing checklists
  lib/widgets/qu-checklists/src/components/CheckListItem.js
  lib/widgets/qu-checklists/src/components/Editor.js
  lib/widgets/qu-checklists/src/edit.js
  lib/widgets/qu-checklists/src/edit_checklistitem.js
  lib/widgets/qu-checklists/yarn.lock
  lib/widgets/qu-commonproblems/src/components/Editor.js
  lib/widgets/qu-expertnote/src/components/Editor.js
  lib/widgets/qu-howtos/src/components/Editor.js
  lib/widgets/qu-howtos/yarn.lock
Labels: status:review-OK

#1871 [2662] checklists formatting
  lib/widgets/qu-checklists/src/components/Editor.js
  lib/widgets/qu-checklists/yarn.lock
  lib/widgets/qu-commonproblems/src/components/Editor.js
  lib/widgets/qu-howtos/src/components/Editor.js
Labels: action:needs-review

#1873 [2682]: Switch between Support team view / Customer view is not working properly
  assets/scripts/app/toggleVisibility.js
Labels: status:review-OK

#1872 [1556] demo page redesign
  assets/scripts/custom/demobar.js
  assets/styles/Elementor.scss
  assets/styles/app.scss
  assets/styles/components/DemoBar.scss
  assets/styles/layouts/tests/RequestDemo.scss
  demobar.php
Labels: action:needs-review

#1878 fix: demobar css
  demobar.php
Labels: action:needs-review
