Repository QualityUnit/liveagent-theme, pull requests merged in 2024-11, with the labels that each got.

#2612 [3258] Fix code scanning alert - DOM text reinterpreted as HTML
  assets/scripts/custom/sidebar_items_slider.js
Labels: status:review-OK

#2613 [3263] calculator is not working
  lib/shortcodes/web-calc.php
Labels: status:review-OK

#2614 [3201] Increase the size of elements to make them easier to use on mobile
  assets/styles/components/compactHeader.scss
Labels: status:review-OK

#2667 [3177] chatbot input placeholder translate
  base-scripts.php
Labels: status:review-OK

#2669 [3279] Pricing changes
  apps/web-calc-featured/src/data/alternatives.json
  apps/web-calc/src/data/alternatives.json
  lib/shortcodes/block-pricing.php
  template-free-account.php
Labels: action:needs-review

#2670 [3133] fix: return back style for review awards
  assets/styles/Elementor.scss
  assets/styles/components/_ReviewsAwards.scss
Labels: status:done, status:review-OK

#2671 [3291] Id attribute for H tags with ID
  assets/scripts/custom/sidebar_toc.js
  functions/sidebar-toc.php
Labels: status:review-OK

#2672 fix: chatbot not working
  base-scripts.php
Labels: action:needs-review

#2681 [3688] Black Friday / Cyber Monday promotion 2024
  assets/styles/components/BlockCoupon.scss
  lib/shortcodes/countdown.php
Labels: status:review-OK

#2679 [3219] Remove announcement banner from header
  templates/header.php
Labels: status:review-OK

#2675 [3209] added pricing plans to the schema as offer parameter
  assets/i18n/g2-reviews/g2-reviews.json
Labels: status:review-OK

#2673 fix: contact form not loading, chatbot specific for directories
  base-scripts.php
  contactus-box.php
Labels: action:changes-requested

#2682 Fix bug on the trial signup form
  lib/shortcodes/signup-form.php
Labels: status:done, status:review-OK

#2683 fix: countdown in the safari
  assets/scripts/custom/countdown.js
Labels: status:review-OK

#2684 [3039] Impossible to resubmit sign up form
  assets/scripts/static/crmCaptcha.js
  assets/scripts/static/crmForms.js
  lib/trial-signup/class-trial-signup.php
Labels: status:review-OK
