Repository QualityUnit/liveagent-theme, pull requests merged in 2024-02, with the labels that each got.

#1880 [1958] CTA banners widget
  assets/styles/elements/_Button.scss
  functions/widgets.php
  lib/widgets/qu-banners/assets/images/improve_customer_service_bg.jpg
  lib/widgets/qu-banners/assets/images/improve_customer_service_elements.png
  lib/widgets/qu-banners/banners.php
  lib/widgets/qu-banners/block.json
  lib/widgets/qu-banners/images/researchFull.png
  lib/widgets/qu-banners/images/researchGrey.png
  lib/widgets/qu-banners/images/researchWhite.png
  lib/widgets/qu-banners/images/wide_header_bg.svg
  lib/widgets/qu-banners/index.php
  lib/widgets/qu-banners/layouts/banner1.php
  lib/widgets/qu-banners/layouts/block-wide.php
  lib/widgets/qu-banners/layouts/columns.php
  lib/widgets/qu-banners/layouts/full.php
  lib/widgets/qu-banners/package.json
  lib/widgets/qu-banners/src/components/Button.js
  lib/widgets/qu-banners/src/components/Editor.js
  lib/widgets/qu-banners/src/components/alignPicker.js
  lib/widgets/qu-banners/src/components/colorPicker.js
  lib/widgets/qu-banners/src/components/layoutPicker.js
  lib/widgets/qu-banners/src/components/stylePicker.js
  lib/widgets/qu-banners/src/edit.js
  lib/widgets/qu-banners/src/layouts/Banner1.js
  lib/widgets/qu-banners/src/scss/editor.scss
  lib/widgets/qu-banners/src/scss/style.scss
  lib/widgets/qu-banners/webpack.config.js
  lib/widgets/qu-banners/yarn.lock
Labels: status:review-OK

#1879 [2635] Enabled announcement bar with ai assistant promo
  assets/styles/components/AiAssistantPricing.scss
  assets/styles/components/AnnouncementBar.scss
  functions/import-functions.php
  templates/header.php
Labels: status:review-OK

#1877 [1116] feat: awards dynamically added from awards post type
  assets/images/hero-banner-awards.png
  assets/images/hero-banner-awards__title.png
  assets/images/heroHeadline_badges.svg
  assets/styles/components/_HeroBanner.scss
  assets/styles/components/_HeroHeadlineHome.scss
  assets/styles/shortcodes/BlockBadges.scss
  functions.php
  functions/dynamic-award-badges.php
  lib/shortcodes/awards-badges.php
  lib/shortcodes/hero-banner-awards.php
Labels: status:review-OK

#1875 [2683] LA WEB pricing - promote months spent, not percentages
  assets/styles/common/_ResearchColors.scss
  assets/styles/common/_variables.scss
  assets/styles/elements/_LabelTag.scss
  assets/styles/layouts/_PricingPrograms.scss
  assets/styles/layouts/_PricingTop.scss
  assets/styles/pages/CategoryColorScheme.scss
Labels: status:review-OK

#1928 chore: upgrade nodejs
  .github/workflows/build-test-qu-checklists.yml
  .github/workflows/build-test-qu-commonproblems.yml
  .github/workflows/build-test-qu-expertnote.yml
  .github/workflows/build-test-qu-howtos.yml
  .github/workflows/build-test-qu-reviews.yml
  .github/workflows/build-test-qu-usecase.yml
  .github/workflows/build-test-statistics.yml
  .github/workflows/build-test-typing-test.yml
  .github/workflows/build-test-web-calc-featured.yml
  .github/workflows/build-test-web-calc.yml
  .github/workflows/build-test.yml
  .github/workflows/eslint.yml
  .github/workflows/stylelint.yml
  apps/typing-test/README.md
  apps/web-calc-featured/README.md
  apps/web-calc/README.md
  lib/widgets/qu-banners/banners.php
  lib/widgets/qu-checklists/checklists.php
  lib/widgets/qu-commonproblems/commonproblems.php
  lib/widgets/qu-expertnote/expertnote.php
  lib/widgets/qu-howtos/howtos.php
  lib/widgets/qu-reviews/reviews.php
  lib/widgets/qu-usecase/usecase.php
  lib/widgets/statistics/statistics.php
Labels: status:done

#1929 [2635] Hiding announcement bar on LA
  assets/styles/components/AnnouncementBar.scss
  templates/header.php
Labels: action:needs-review

#1881 [2662] fix: toolbar in checklists white
  lib/widgets/qu-banners/src/scss/editor.scss
  lib/widgets/qu-checklists/src/scss/editor.scss
Labels: action:needs-review

#1933 [1625] login redesign
  assets/images/login_bg.png
  assets/styles/components/_Login.scss
  lib/shortcodes/login.php
Labels: action:needs-review

#1932 fix: hiding related sources in home page
  elementor.php
Labels: status:review-OK

#1931 [2383] fix: text color in typing test
  apps/typing-test/src/style.css
Labels: status:done, status:review-OK

#1934 [1412] Good hands redesign
  assets/images/goodhands_image.png
  assets/images/logo-capterra.svg
  assets/styles/Elementor.scss
  assets/styles/app.scss
  assets/styles/components/_GoodHands.scss
  assets/styles/components/_Reviews.scss
  lib/shortcodes/good-hands.php
Labels: action:needs-review

#1935 [1412] fix: moving new good hands to bottom, removing old one
  assets/styles/components/_GoodHands.scss
  assets/styles/layouts/Footer.scss
  elementor.php
  front-page.php
  lib/shortcodes/good-hands.php
  template-free-account.php
Labels: status:done, status:review-OK

#1936 fix: class irelevantly used in front page element
  assets/styles/components/_Block.scss
Labels: status:review-OK

#1938 Fixed styles for inputs in signup forms
  assets/styles/components/Signup.scss
  assets/styles/components/SignupSidebar.scss
Labels: status:review-OK

#1940 [2719] Remove pin to "other marketing checklist" element
  assets/styles/components/SidebarItemsSlider.scss
  templates/content-single-ms_checklists.php
Labels: action:needs-review

#1939 [2751] Table overlapping with side trial banner
  assets/styles/components/AlternativeTable.scss
Labels: status:review-OK

#1944 Removed spaces from link for bgs
  templates/content-archive-ms_academy.php
  templates/content-archive-ms_features.php
  templates/content-archive-ms_templates.php
Labels: action:needs-review

#1942 [2784] Missing design of Affiliate signup form at www.liveagent.com/affiliate-program/affiliate-signup/
  assets/styles/elements/_Form.scss
  assets/styles/layouts/_Custom.scss
Labels: action:needs-review

#1943 [2783] Expert's note element missing backround
  templates/content-single-ms_glossary.php
Labels: action:needs-review

#1945 [2802] Fix loading of Schedule banner
  assets/styles/components/DemoBar.scss
  assets/styles/components/_HeaderLanguageSwitcher.scss
  assets/styles/layouts/Header.scss
Labels: action:needs-review

#1946 Trial signup regions
  assets/scripts/app/signup_login_js_loader.js
  assets/scripts/custom/filterMenu.js
  assets/scripts/static/crm.js
  assets/styles/components/Signup.scss
  assets/styles/pages/TrialRedesign.scss
  lib/shortcodes/signup-form.php
Labels: status:done, status:review-OK

#1947 [2742] Fix urls for glossary single and discover shortcode
  lib/shortcodes/discover.php
  templates/content-single-ms_glossary.php
Labels: action:needs-review

#1952 Regions selection naming and responsive changes
  assets/scripts/custom/filterMenu.js
  assets/styles/components/Signup.scss
  assets/styles/components/SignupSidebar.scss
  lib/shortcodes/signup-form-free.php
  lib/shortcodes/signup-form-redeemcode.php
  lib/shortcodes/signup-form-simple.php
  lib/shortcodes/signup-form.php
  lib/shortcodes/signup-sidebar.php
Labels: status:done, status:review-OK

#1949 [2803] Curropted design in pricing for firefox
  assets/styles/layouts/_PricingPrograms.scss
Labels: action:needs-review

#1951 fix: demo,login
  assets/styles/components/_Login.scss
  assets/styles/layouts/tests/RequestDemo.scss
Labels: action:needs-review

#1948 2785 Rework Contact us element on LA
  assets/scripts/custom/socialShareFunctions.js
  assets/styles/components/_BlogShare.scss
  assets/styles/components/_ContactUs.scss
  contactus-box.php
  templates/content-single.php
Labels: action:needs-review

#1955 [1206] Alternatives redesign
  apps/web-calc-featured/src/data/alternatives.json
  apps/web-calc/src/data/alternatives.json
  assets/images/alternatives-header_img.png
  assets/images/icon-alternative__tower.svg
  assets/images/play_bar.svg
  assets/images/press_to_play_horizontal.svg
  assets/scripts/app/custom_lightbox_youtube.js
  assets/scripts/app/responsiveTable.js
  assets/scripts/custom/filter.js
  assets/styles/common/_global.scss
  assets/styles/common/_variables.scss
  assets/styles/components/AlternativeTable.scss
  assets/styles/components/Block.scss
  assets/styles/components/GutenbergVideo.scss
  assets/styles/components/Table.scss
  assets/styles/components/_ReviewsGallery.scss
  assets/styles/components/compactHeader.scss
  assets/styles/elements/_Tooltip.scss
  assets/styles/elements/_Typography.scss
  assets/styles/shortcodes/AlternativesList.scss
  elementor.php
  front-page.php
  functions/components-imports.php
  functions/content-filters.php
  functions/redirects.php
  functions/shortcodes.php
  lib/custom-blocks/compact-header.php
  lib/post-types/alternatives.php
  lib/shortcodes/alternatives.php
  lib/shortcodes/slider-testimonials-custom.php
  templates/content-archive-ms_alternatives.php
  templates/content-single-ms_alternatives.php
  templates/content-single-ms_reviews-top.php
  templates/footer.php
Labels: action:needs-review

#1956 Correction of bad loading of content on the helpdesk page
  assets/styles/common/_global.scss
Labels: action:needs-review

#1958 [2828] fix: reviews schema, table max width
  assets/styles/components/Table.scss
  functions/content-filters.php
  templates/content-archive-ms_reviews-posts.php
  templates/content-single-ms_reviews-top.php
  templates/content-single-ms_reviews.php
Labels: status:review-OK

#1964 [1509] feat: editor note redesign with schema microdata
  assets/images/andrej_saxon_new.png
  assets/images/expert_badge.svg
  assets/styles/common/_variables.scss
  assets/styles/shortcodes/BlockDiscover.scss
  assets/styles/shortcodes/ExpertNote.scss
  functions/shortcodes.php
  lib/shortcodes/expert-note.php
  templates/content-single-ms_glossary.php
Labels: status:review-OK

#1965 [2844] Missing background behind input info icon
  assets/styles/components/Signup.scss
Labels: status:review-OK

#1966 [2832] Changed h1 title to h2
  lib/shortcodes/signup-form-free.php
Labels: status:review-OK

#1969 fix: body selector
  assets/scripts/custom/custom_lightbox.js
  assets/scripts/custom/custom_lightbox_youtube.js
Labels: status:done, status:review-OK

#1971 Pagespeed fix v2
  assets/styles/elements/_Button.scss
  base.php
  functions/components-imports.php
  lib/cleaner/assets.php
Labels: action:needs-review

#1972 [2852] feat: new awards in trial, pagespeed fixes to login and header format
  assets/styles/components/_HeroBanner.scss
  assets/styles/components/_Login.scss
  assets/styles/layouts/Header.scss
  assets/styles/pages/TrialRedesign.scss
  assets/styles/shortcodes/HeroBannerAwards.scss
  lib/shortcodes/hero-banner-awards.php
  template-trial-redesign.php
Labels: action:needs-review

#1970 [2844] Missing background behind input info icon
  assets/styles/components/Signup.scss
Labels: action:needs-review

#1975 Pagespeed fixes v3
  assets/scripts/app/signup_login_js_loader.js
  assets/scripts/custom/responsiveTable.js
  assets/styles/Elementor.scss
  assets/styles/app.scss
  assets/styles/components/Table.scss
  assets/styles/components/_AlternativeTable.scss
  assets/styles/components/_TrialStickyButton.scss
  functions/components-imports.php
Labels: status:done, status:review-OK

#1976 fix: announcement bar at the top
  assets/styles/components/AnnouncementBar.scss
Labels: action:needs-review

#1977 fix: buttons and table fix
  assets/scripts/custom/responsiveTable.js
  assets/styles/components/Table.scss
  assets/styles/elements/_Button.scss
Labels: action:needs-review

#1980 Rearranged loading scripts in reviews to fix gallery
  templates/content-single-ms_reviews.php
Labels: action:needs-review

#1979 fix: jquery paths
  assets/scripts/app/signup_login_js_loader.js
  lib/custom-blocks/compact-header.php
  lib/shortcodes/login.php
  lib/shortcodes/signup-form-free.php
  lib/shortcodes/signup-form-redeemcode.php
  lib/shortcodes/signup-form-simple.php
  lib/shortcodes/signup-form.php
  lib/shortcodes/signup-sidebar.php
Labels: action:needs-review

#1981 fix: jquery loading on menu open
  assets/scripts/app/signup_login_js_loader.js
Labels: status:review-OK

#1982 [2863] upgrade to node 20
  .github/workflows/build-test-qu-checklists.yml
  .github/workflows/build-test-qu-commonproblems.yml
  .github/workflows/build-test-qu-expertnote.yml
  .github/workflows/build-test-qu-howtos.yml
  .github/workflows/build-test-qu-reviews.yml
  .github/workflows/build-test-qu-usecase.yml
  .github/workflows/build-test-statistics.yml
  .github/workflows/build-test-typing-test.yml
  .github/workflows/build-test-web-calc-featured.yml
  .github/workflows/build-test-web-calc.yml
  .github/workflows/build-test.yml
  .github/workflows/eslint.yml
  .github/workflows/stylelint.yml
  apps/typing-test/package.json
  apps/typing-test/webpack.config.js
  apps/typing-test/yarn.lock
  assets/images/banner_typingtest.png
  assets/styles/components/BannerTypingTest.scss
  assets/styles/layouts/tests/RequestDemo.scss
  functions/create-language-menu.php
  lib/shortcodes/language-switcher.php
  lib/widgets/qu-banners/package.json
  lib/widgets/qu-banners/yarn.lock
  lib/widgets/qu-checklists/package.json
  lib/widgets/qu-checklists/yarn.lock
  lib/widgets/qu-commonproblems/package.json
  lib/widgets/qu-commonproblems/yarn.lock
  lib/widgets/qu-expertnote/package.json
  lib/widgets/qu-expertnote/yarn.lock
  lib/widgets/qu-howtos/package.json
  lib/widgets/qu-howtos/yarn.lock
  lib/widgets/qu-reviews/package.json
  lib/widgets/qu-reviews/yarn.lock
  lib/widgets/qu-usecase/package.json
  lib/widgets/qu-usecase/yarn.lock
  lib/widgets/statistics/package.json
  lib/widgets/statistics/yarn.lock
  package.json
  yarn.lock
Labels: status:review-OK

#1983 [2863] fix: publish script to node 20
  .github/workflows/publish-release.yml
Labels: status:done, status:review-OK

#1984 [2856] Table overlap
  assets/styles/components/Table.scss
Labels: action:needs-review

#1967 [2501] Author page for each author
  assets/scripts/custom/blogLazyLoad.js
  assets/styles/components/compactHeader.scss
  assets/styles/layouts/_BlogPost.scss
  assets/styles/layouts/_Post.scss
  functions/import-functions.php
  lib/custom-blocks/compact-header.php
  lib/rest-api/get-blog-posts.php
  templates/content-archive.php
  templates/content-single.php
  templates/footer.php
Labels: action:needs-review

#1986 [2876] fix: hiding good hands banner in other languages
  templates/footer.php
Labels: status:done, status:review-OK
