Repository QualityUnit/liveagent-theme, pull requests merged in 2024-03, with the labels that each got.

#1985 [2871] New Alternatives page broken
  assets/styles/shortcodes/BlockPricing.scss
Labels: status:review-OK

#2022 [2887] blog css defer fix
  functions.php
  functions/import-functions.php
  templates/content-archive.php
Labels: action:needs-review

#2023 [2885] chatbot icon
  assets/images/contact/chatbot.svg
  assets/styles/components/_ContactUs.scss
  contactus-box.php
Labels: action:needs-review

#1978 [2835] PageSpeed: Defer Offscreen Images
  assets/images/background__elements.jpg
  assets/scripts/custom/demobar.js
  assets/scripts/custom/slider.js
  assets/styles/components/Block.scss
  assets/styles/components/BlockLearnMore.scss
  assets/styles/components/BlockSwitcher.scss
  assets/styles/components/BoxesStars.scss
  assets/styles/components/_ReviewsCategoryAbout.scss
  assets/styles/layouts/Footer.scss
  assets/styles/layouts/_ReviewsPosts.scss
  assets/styles/pages/Reviews.scss
  assets/styles/shortcodes/BlockDiscover.scss
  assets/styles/shortcodes/FeaturesSlider.scss
  demobar.php
  functions/create-language-menu.php
  lib/shortcodes/discover.php
  lib/shortcodes/features-slider.php
  lib/shortcodes/introduction-videos.php
  lib/shortcodes/slider-testimonials.php
  templates/content-archive-ms_reviews-posts.php
  templates/content-archive-ms_reviews.php
  templates/footer.php
  templates/header.php
Labels: status:review-OK

#2024 [2885] feat: replacing contact form with chatbot on selected pages
  assets/styles/components/_ContactUs.scss
  base-scripts.php
Labels: action:needs-review

#2025 fix: #2883, #2887, #2894
  assets/styles/shortcodes/BlockPricing.scss
  functions.php
  functions/components-imports.php
  functions/import-functions.php
  lib/assets.php
  lib/shortcodes/alternatives.php
  lib/widgets/statistics/statistics.php
  templates/content-archive-ms_alternatives.php
  templates/content-archive-ms_reviews-posts.php
  templates/content-archive.php
Labels: status:review-OK

#2026 [2852] fix: awards in trial
  assets/images/hero-banner-awards.png
  assets/images/hero-banner-awards_small.jpg
  assets/images/hero-banner-awards_small.png
  assets/styles/pages/TrialRedesign.scss
  assets/styles/shortcodes/HeroBannerAwards.scss
  lib/shortcodes/hero-banner-awards.php
  template-trial-redesign.php
Labels: status:done, status:review-OK

#2027 feat: removing deffering of critical css
  assets/styles/Elementor.scss
  assets/styles/components/HeroHeadlineHome.scss
  assets/styles/components/_HeroHeadlineBanner.scss
  lib/assets.php
  lib/cleaner/assets.php
  lib/shortcodes/clients.php
  templates/head.php
Labels: status:done, status:review-OK

#2029 [2885] fix: chatbot loading in contact form, awards badges cut
  assets/styles/components/_GoodHands.scss
  assets/styles/pages/TrialRedesign.scss
  assets/styles/shortcodes/HeroBannerAwards.scss
  base-scripts.php
  contactus-box.php
Labels: status:done, status:review-OK

#2030 [2741] Added new archive for awards page
  assets/scripts/custom/awardsInfiniteScroll.js
  assets/styles/layouts/_Awards.scss
  lib/post-types/awards.php
  lib/shortcodes/awards.php
  templates/content-archive-ms_awards.php
Labels: status:review-OK

#2032 [2895] Missing category image
  assets/images/features-category_ai.jpg
Labels: action:needs-review

#2031 2741 Create new postype webinars
  assets/images/play_button.svg
  assets/styles/layouts/_Webinars.scss
  assets/styles/pages/Webinars.scss
  functions/metaboxes.php
  functions/post-types.php
  functions/redirects.php
  lib/metaboxes/webinars.php
  lib/post-types/webinars.php
  templates/content-archive-ms_webinars.php
Labels: status:review-OK

#2034 [1616] affiliate program redesign
  assets/styles/Elementor.scss
  assets/styles/app.scss
  assets/styles/common/_global.scss
  assets/styles/common/_lightbox.scss
  assets/styles/common/_variables.scss
  assets/styles/components/AffiliateSignup.scss
  assets/styles/components/Block.scss
  assets/styles/components/BlocksWrap.scss
  assets/styles/elements/_Form.scss
  assets/styles/layouts/_Custom.scss
  composer.lock
  functions/components-imports.php
  functions/content-filters.php
  lib/assets.php
Labels: action:needs-review

#2036 [2902] make h4 and h3 headings bigger on the mobile
  assets/styles/elements/_Typography.scss
Labels: action:needs-review

#2037 [2741] Fixed case sensitive error
  templates/content-archive-ms_awards.php
Labels: action:needs-review

#2038 [161] fix: added new style for numbered list
  assets/styles/elements/_Typography.scss
Labels: status:done, status:review-OK

#2039 [1616] fix: small safari bugfixes
  assets/styles/components/AffiliateSignup.scss
Labels: status:done, status:review-OK

#2040 [1616] fix: hiding real placeholder
  assets/styles/components/AffiliateSignup.scss
Labels: action:needs-review

#2041 [2741] Fixed js for infinity loop on awards archive
  assets/scripts/custom/awardsInfiniteScroll.js
  functions/rest-api.php
  lib/rest-api/get-awards-posts.php
Labels: status:review-OK

#2042 [2898] fix: multiple cls improvements for seo
  apps/typing-test/src/index.html
  apps/typing-test/src/style.css
  assets/images/AnnouncementBar-PAP.png
  assets/images/AnnouncementBar-Urlslab.png
  assets/images/banner_typingtest.jpg
  assets/images/banner_typingtest.png
  assets/images/bg_category_features.svg
  assets/scripts/app/app.js
  assets/styles/components/BannerTypingTest.scss
  assets/styles/components/_GoodHands.scss
  assets/styles/components/_ReviewsGallery.scss
  assets/styles/pages/Reviews.scss
  contactus-box.php
  functions/header-banners.php
  lib/assets.php
  lib/shortcodes/good-hands.php
  lib/shortcodes/typing-test.php
  templates/header.php
Labels: action:needs-review

#2043 [2741] Replaced default rest api and then pulling the data to the frontend
  assets/scripts/custom/awardsInfiniteScroll.js
  lib/rest-api/get-awards-posts.php
Labels: action:needs-review

#2044 Rewroted the endpoint for awards
  assets/scripts/custom/awardsInfiniteScroll.js
  lib/rest-api/get-awards-posts.php
Labels: action:needs-review

#2058 [2021] contact us status
  assets/styles/components/_ContactUs.scss
  composer.lock
  contactus-box.php
Labels: action:needs-review

#2059 Trial signup removed sessions usage
  assets/scripts/static/crmInstaller.js
  lib/trial-signup/class-trial-signup.php
Labels: action:needs-review

#2060 I2926 trial signup cookie
  assets/scripts/static/crmInstaller.js
  lib/trial-signup/class-trial-signup.php
Labels: status:done, status:review-OK

#2063 [2925] Cookie notification not working on ru.liveagent.com
  assets/scripts/app/app.js
Labels: action:needs-review

#2061 Trial signup corrections
  assets/scripts/static/crmCaptcha.js
  assets/scripts/static/crmForms.js
  assets/scripts/static/crmInstaller.js
  lib/shortcodes/signup-form-free.php
  lib/shortcodes/signup-sidebar.php
  lib/trial-signup/class-trial-signup.php
Labels: action:needs-review

#2064 fix: fixed ar-sa language code
  lib/trial-signup/class-trial-signup.php
Labels: status:review-OK

#2076 [1616] fix: affiliate program signup scrollbar
  assets/styles/common/_mixins.scss
  assets/styles/components/AffiliateSignup.scss
Labels: status:done, status:review-OK

#2077 I2949 capterra tracking
  assets/scripts/static/crmInstaller.js
  lib/shortcodes/signup-form-free.php
  lib/shortcodes/signup-form-redeemcode.php
  lib/shortcodes/signup-form.php
  lib/shortcodes/signup-sidebar.php
  lib/trial-signup/class-trial-signup.php
Labels: action:needs-review

#2090 [2893] Fixing styles for startup page
  assets/styles/components/BoxesDotted.scss
  assets/styles/components/_BlockStartups.scss
  assets/styles/pages/Startups.scss
  assets/styles/shortcodes/BlockBadges.scss
  assets/styles/shortcodes/BlockPricing.scss
  lib/shortcodes/block-pricing.php
Labels: status:done, status:review-OK

#2089 [2948] Changing link in header tag
  templates/content-single-ms_directory.php
Labels: status:ready-to-merge, status:review-OK

#2092 [2950] responzivity fixes
  apps/web-calc-featured/src/assets/style/layouts/_Main.scss
  apps/web-calc/src/assets/style/layouts/_Main.scss
  assets/styles/common/_elementor.scss
  assets/styles/common/_global.scss
  assets/styles/common/elementor-custom.scss
  assets/styles/components/Block.scss
  assets/styles/components/BlockVideo.scss
  assets/styles/components/Boxes.scss
  assets/styles/components/BoxesStars.scss
  assets/styles/components/IconTabs.scss
  assets/styles/components/Signup.scss
  assets/styles/components/Table.scss
  assets/styles/components/_GoodHands.scss
  assets/styles/components/_HeroHeadlineBanner.scss
  assets/styles/components/_HorizontalTabs.scss
  assets/styles/elements/_Button.scss
  assets/styles/elements/_Typography.scss
  assets/styles/layouts/HelpDesk.scss
  assets/styles/shortcodes/BlockPricing.scss
  functions/content-filters.php
  lib/shortcodes/signup-sidebar.php
  template-academy-header.php
  template-academy.php
  template-blog-header.php
  templates/content-single-ms_success-stories.php
Labels: action:needs-review

#2091 [2944] Missing icons with tooltips
  assets/styles/components/_AlternativeTable.scss
Labels: status:review-OK

#2093 2893 fixing styles on the startup page
  assets/styles/shortcodes/BlockPricing.scss
Labels: action:needs-review

#2094 Fixing styles for elements on the startup page
  assets/images/block-pricing-bg.png
  assets/images/block-startup-bg.png
  assets/styles/components/BoxesDotted.scss
  assets/styles/components/_BlockStartups.scss
  assets/styles/shortcodes/BlockPricing.scss
  functions/content-filters.php
Labels: action:needs-review
