Repository QualityUnit/liveagent-theme, pull requests merged in 2024-04, with the labels that each got.

#2151 [1411] Redesign of Request for Proposal Page
  assets/styles/Elementor.scss
  assets/styles/components/RequestForProposalHero.scss
  functions/shortcodes.php
  lib/shortcodes/request-for-proposal-form.php
Labels: status:review-OK

#2152 [2834] Don't modify the H1 tag with JavaScript
  assets/scripts/custom/research_post.js
Labels: action:needs-review

#2153 [1411] fixed some styles and changed script for form
  assets/styles/Elementor.scss
  assets/styles/components/RequestForProposal.scss
  lib/shortcodes/request-for-proposal-form.php
Labels: action:needs-review

#2154 [2967] set default attribute in the shortcode for testimonial slider
  lib/shortcodes/slider-testimonials-home.php
Labels: action:needs-review

#2155 [2966] fixed styles for reviews reference
  assets/styles/Elementor.scss
  assets/styles/components/Reference.scss
  assets/styles/components/Reviews.scss
Labels: action:needs-review

#2157 [1739] feat: bottom footer element change
  assets/images/partner_with_us_bottom.png
  assets/styles/components/_GoodHands.scss
  lib/shortcodes/good-hands.php
  templates/footer.php
Labels: status:review-OK

#2159 Visual glitches fixes
  assets/styles/common/_global.scss
  assets/styles/common/elementor-custom.scss
  assets/styles/components/Block.scss
  assets/styles/components/BlockLearnMore.scss
  assets/styles/components/BlogTopPost.scss
  assets/styles/components/FeaturesTable-New.scss
  assets/styles/components/IconTabs.scss
  assets/styles/components/_CategoryItem.scss
  assets/styles/components/_CookieBar.scss
  assets/styles/components/_GoodHands.scss
  assets/styles/components/_SignupSidebar.scss
  assets/styles/elements/_ResearchBlock.scss
  assets/styles/layouts/_Post.scss
  assets/styles/layouts/_PricingPrograms.scss
  assets/styles/layouts/_Research.scss
  assets/styles/shortcodes/BlockPricing.scss
  lib/shortcodes/signup-sidebar.php
  templates/head.php
Labels: action:needs-review

#2160 fix: disallow percentage character in email
  assets/scripts/static/crmForms.js
Labels: status:review-OK

#2163 [2976] feat: optimizing cls and ranking performance
  assets/styles/Elementor.scss
  assets/styles/app.scss
  assets/styles/common/common.scss
  assets/styles/pages/Directory.scss
  contactus-box.php
  functions/header-banners.php
  lib/cleaner/assets.php
  templates/content-archive-ms_directory.php
  templates/content-archive-ms_glossary.php
  templates/content-single-ms_directory.php
  templates/head.php
Labels: action:needs-review

#2164 [1411] Changed styles for request proposal page
  assets/images/logo-getapp-gray.svg
  assets/styles/components/RequestForProposal.scss
  lib/shortcodes/request-for-proposal-form.php
Labels: action:needs-review

#2165 Removed trustpilot logo from request for proposal page
  lib/shortcodes/request-for-proposal-form.php
Labels: action:needs-review

#2162 [2977] We need remove trustpilot logo from LA
  assets/images/logo_capterra_black.svg
  assets/styles/Elementor.scss
  assets/styles/app.scss
  assets/styles/components/CompanyReview.scss
  assets/styles/components/Reviews.scss
  assets/styles/components/_SignupSidebar.scss
  assets/styles/layouts/_Gutenberg.scss
  assets/styles/pages/TrialRedesign.scss
  functions/shortcodes.php
  lib/shortcodes/company-review.php
  lib/shortcodes/gutenberg-reviews.php
  lib/shortcodes/request-for-proposal-form.php
  lib/shortcodes/reviews.php
  lib/shortcodes/short-trial.php
  lib/shortcodes/signup-sidebar.php
  template-redeem-code.php
  template-trial-redesign.php
  template-trial.php
Labels: action:needs-review

#2166 Added attribute to element for testing on dev
  lib/shortcodes/awards-badges.php
Labels: action:needs-review

#2168 Added code for selecting awards only from the current language
  functions/dynamic-award-badges.php
Labels: action:needs-review

#2169 Removing logo get app
  assets/styles/components/RequestForProposal.scss
  lib/shortcodes/request-for-proposal-form.php
  template-redeem-code.php
  template-trial-redesign.php
Labels: status:done, status:review-OK

#2170 [2979] Blog categories issues
  templates/content-archive.php
Labels: status:ready-to-merge, status:review-OK

#2171 [2983] Label new in main menu stopped to work
  assets/styles/app.scss
Labels: action:needs-review

#2173 [2984] LA Features pages image expand
  templates/content-single-ms_academy.php
  templates/content-single-ms_features.php
  templates/content-single-ms_glossary.php
  templates/content-single-ms_templates.php
  templates/content-single-ms_videos.php
  templates/content-single.php
Labels: status:done, status:review-OK

#2174 [2988] Fix Trial variation for liveagent.no
  lib/trial-signup/class-trial-signup.php
Labels: status:done, status:review-OK
