Repository QualityUnit/liveagent-theme, pull requests merged in 2024-08, with the labels that each got.

#2410 3088 Lists not working on all webs
  assets/styles/elements/_PostTypography.scss
Labels: action:needs-review

#2411 [3095] scroll to proper image
  functions.php
  functions/compact-header-toc.php
  template-blog-header.php
  templates/content-single-ms_about.php
  templates/content-single-ms_alternatives.php
  templates/content-single-ms_directory.php
  templates/content-single-ms_testimonials.php
  templates/content-single.php
Labels: status:done, status:review-OK

#2412 [3056] fix: no h3 in compact header
  functions/sidebar-toc.php
Labels: action:needs-review

#2414 [3135] Hide title "Related articles" if empty
  functions.php
  functions/urlslab-related-posts.php
  template-academy-header.php
  template-academy.php
  template-blog-header.php
  template-blog.php
  templates/content-single-ms_academy.php
  templates/content-single-ms_checklists.php
  templates/content-single-ms_features.php
  templates/content-single-ms_glossary.php
  templates/content-single-ms_integrations.php
  templates/content-single-ms_reviews.php
  templates/content-single-ms_templates.php
  templates/content-single-ms_videos.php
  templates/content-single.php
Labels: action:needs-review

#2420 [3135] Hide title "Related articles" if empty on elementor and page temaplates
  elementor.php
  templates/content-page.php
Labels: action:needs-review

#2413 [3019] feat: adds query params to every liveagent url on webpage
  assets/scripts/app/queryParamsToUrls.js
Labels: status:review-OK

#2422 Changed query version in script for ai chatbot
  base-scripts.php
Labels: action:needs-review

#2425 [3162] Blacklist some parameters which are not forwarded to other links
  assets/scripts/app/queryParamsToUrls.js
Labels: status:done, status:review-OK

#2426 [3091] Service status degradation not shown in the contact multi-widget on website
  assets/styles/components/_ContactUs.scss
  contactus-box.php
Labels: action:needs-review

#2427 [3162] Blacklist some parameters which are not forwarded to other links
  assets/scripts/app/queryParamsToUrls.js
Labels: action:needs-review
