Repository QualityUnit/liveagent-theme, pull requests merged in 2025-02, with the labels that each got.

#2848 [3275] Consent mode reporting - required by google analytics
  base-scripts.php
Labels: action:needs-review

#2845 [3348] - feat: added script for CrozDesk Conversion Tracking
  base-scripts.php
Labels: status:review-OK

#2847 [3347] - fix: show demo button instead of free trial on header
  assets/styles/layouts/Header.scss
  templates/header.php
Labels: status:done, status:review-OK

#2850 [3734] - fix: changed 14 to 30 on trial banner and translated for trial banner
  assets/i18n/trial_banner/ar.json
  assets/i18n/trial_banner/bg.json
  assets/i18n/trial_banner/cs.json
  assets/i18n/trial_banner/da.json
  assets/i18n/trial_banner/de.json
  assets/i18n/trial_banner/el.json
  assets/i18n/trial_banner/en.json
  assets/i18n/trial_banner/es.json
  assets/i18n/trial_banner/et.json
  assets/i18n/trial_banner/fi.json
  assets/i18n/trial_banner/fr.json
  assets/i18n/trial_banner/hr.json
  assets/i18n/trial_banner/hu.json
  assets/i18n/trial_banner/it.json
  assets/i18n/trial_banner/ja.json
  assets/i18n/trial_banner/lt.json
  assets/i18n/trial_banner/lv.json
  assets/i18n/trial_banner/nl.json
  assets/i18n/trial_banner/no.json
  assets/i18n/trial_banner/pl.json
  assets/i18n/trial_banner/pt-br.json
  assets/i18n/trial_banner/ro.json
  assets/i18n/trial_banner/ru.json
  assets/i18n/trial_banner/sk.json
  assets/i18n/trial_banner/sl.json
  assets/i18n/trial_banner/sv.json
  assets/i18n/trial_banner/tl.json
  assets/i18n/trial_banner/vi.json
  assets/i18n/trial_banner/zh-hans.json
Labels: status:done, status:review-OK

#2799 [3339] - unify h2 font size
  assets/styles/common/_elementor.scss
  assets/styles/common/_variables.scss
  assets/styles/components/Block.scss
  assets/styles/components/_HorizontalTabs.scss
  assets/styles/elements/_Typography.scss
Labels: action:needs-review

#2851 I3354 trial installation
  assets/scripts/static/crmInstaller.js
  assets/styles/pages/ThankYou.scss
  lib/trial-signup/class-trial-signup.php
Labels: action:needs-review

#2852 [3703] - fix: changed "contact us" multi-widget to chatbot button
  base-scripts.php
  functions.php
  functions/check-parent-child-slug.php
Labels: status:review-OK

#2854 [3358] - huge font size h2 on mobile
  assets/styles/common/_elementor.scss
  assets/styles/components/_HeroHeadlineBanner.scss
  assets/styles/components/_HorizontalTabs.scss
Labels: action:needs-review

#2853 [3355] - fix: changed styles that override box-shadow
  apps/web-calc/src/assets/style/common/_variables.scss
  apps/web-calc/src/assets/style/elements/_Block.scss
  apps/web-calc/src/assets/style/elements/_Feature.scss
  apps/web-calc/src/assets/style/elements/_Select.scss
Labels: action:needs-review

#2855 I3357 submit form
  assets/scripts/static/crmInstaller.js
  assets/styles/pages/ThankYou.scss
Labels: action:needs-review

#2797 [3709] landing pages ppc
  assets/images/landing-ppc-bg_goodhands.jpg
  assets/images/landing-ppc-bg_goodhands_mobile.png
  assets/images/landing-ppc-goodhands.png
  assets/images/landing_ppc_all-channels.jpg
  assets/images/landing_ppc_all-channels_mobile.jpg
  assets/images/landing_ppc_img_sign-up-form-app.png
  assets/images/landingpcc_sign-up-form_bg.jpg
  assets/images/landingppc_plus_icon.svg
  assets/scripts/custom/slider.js
  assets/styles/common/_colorClasses.scss
  assets/styles/common/_global.scss
  assets/styles/common/_marginsPaddings.scss
  assets/styles/common/_variables.scss
  assets/styles/common/common.scss
  assets/styles/components/HeroHeadlineBanner.scss
  assets/styles/components/SignupFormLanding.scss
  assets/styles/components/_GoodHands.scss
  assets/styles/elements/_FilterMenu.scss
  assets/styles/layouts/LandingPPC.scss
  assets/styles/shortcodes/Clients.scss
  assets/styles/shortcodes/SliderTestimonials.scss
  functions/metaboxes.php
  functions/post-types.php
  functions/shortcodes.php
  landing-ppc.php
  lib/metaboxes/landing-ppc.php
  lib/post-types/landing-ppc.php
  lib/rest-api/metaboxes.php
  lib/shortcodes/good-hands-new.php
  lib/shortcodes/signup-form-landingppc.php
  lib/shortcodes/slider-testimonials-landingppc.php
  templates/footer.php
Labels: status:done, status:review-OK

#2859 Changed condition for function what make button for redirect to app
  assets/scripts/static/crmInstaller.js
Labels: status:review-OK

#2860 Fix function check_parent_child_slug
  functions/check-parent-child-slug.php
Labels: action:needs-review

#2862 Fixed styles for filters and dropdowns and some content fixes
  assets/i18n/trial_banner/en.json
  assets/styles/elements/_FilterMenu.scss
  templates/content-archive-ms_success-stories.php
Labels: status:review-OK

#2865 Removed action for add to project
  .github/workflows/add_to_project.yml
Labels: status:review-OK

#2861 [3721] - free plan
  assets/images/dot-orange.svg
  assets/styles/Elementor.scss
  assets/styles/components/HeroBanner.scss
  assets/styles/components/HeroHeadlineBanner.scss
  assets/styles/components/Table.scss
  assets/styles/components/_BlockFreePlan.scss
Labels: action:needs-review

#2890 [3709] landingppc
  assets/images/landing-ppc-bg_goodhands_tablet.png
  assets/scripts/custom/filterMenu.js
  assets/scripts/custom/slider.js
  assets/scripts/static/crmInstaller.js
  assets/styles/common/_global.scss
  assets/styles/components/Signup.scss
  assets/styles/components/SignupFormLanding.scss
  assets/styles/components/_GoodHands.scss
  assets/styles/components/_Logos.scss
  assets/styles/elements/_DropDownMenu.scss
  assets/styles/elements/_FilterMenu.scss
  assets/styles/layouts/Header.scss
  assets/styles/layouts/LandingPPC.scss
  assets/styles/shortcodes/Clients.scss
  assets/styles/shortcodes/SliderTestimonials.scss
  landing-ppc.php
  lib/metaboxes/landing-ppc.php
  lib/setup.php
  lib/shortcodes/clients.php
  lib/shortcodes/signup-form-landingppc.php
  lib/shortcodes/slider-testimonials-landingppc.php
Labels: action:needs-review
