Repository QualityUnit/liveagent-theme, pull requests merged in 2025-01, with the labels that each got.

#2787 [3713] Stop timer Discontinue Discount Pricing for LiveAgent
  assets/styles/layouts/_PricingPrograms.scss
Labels: status:review-OK

#2786 [3323] - fix: change visual view for range text
  assets/styles/components/IconTabs.scss
Labels: action:needs-review

#2740 [3303] - fix: change visual view for h2 by design
  lib/shortcodes/signup-form-free.php
Labels: status:done, status:review-OK

#2739 [3307] - fix: update styles for buttons on homepage
  assets/styles/components/_HeroHeadlineBanner.scss
  lib/shortcodes/good-hands.php
  templates/header.php
Labels: action:needs-review

#2788 [3714] Consider Disabling Pop-Up for Request Demo/Start Trial
  assets/scripts/custom/exitPopup.js
  assets/styles/Elementor.scss
  assets/styles/app.scss
  assets/styles/components/ExitPopup.scss
  templates/footer.php
Labels: status:review-OK

#2790 Added support for disabling anchor buttons
  assets/scripts/app/app.js
Labels: action:needs-review

#2789 [3237] fix: icons sizes
  assets/styles/common/_global.scss
Labels: status:review-OK

#2792 [3332] Replacement of Free Plan/Account widget by Free Trial widget
  lib/metaboxes/signup-sidebar.php
  lib/shortcodes/signup-sidebar.php
Labels: status:review-OK

#2795 [3722] Adjustment of a pricing widget
  apps/web-calc/src/components/layouts/finalResults.jsx
  apps/web-calc/src/data/i18n/ae.json
  apps/web-calc/src/data/i18n/bg.json
  apps/web-calc/src/data/i18n/cn.json
  apps/web-calc/src/data/i18n/cz.json
  apps/web-calc/src/data/i18n/de.json
  apps/web-calc/src/data/i18n/dk.json
  apps/web-calc/src/data/i18n/ee.json
  apps/web-calc/src/data/i18n/en.json
  apps/web-calc/src/data/i18n/es.json
  apps/web-calc/src/data/i18n/fi.json
  apps/web-calc/src/data/i18n/fr.json
  apps/web-calc/src/data/i18n/gr.json
  apps/web-calc/src/data/i18n/hr.json
  apps/web-calc/src/data/i18n/hu.json
  apps/web-calc/src/data/i18n/it.json
  apps/web-calc/src/data/i18n/jp.json
  apps/web-calc/src/data/i18n/lt.json
  apps/web-calc/src/data/i18n/lv.json
  apps/web-calc/src/data/i18n/nl.json
  apps/web-calc/src/data/i18n/no.json
  apps/web-calc/src/data/i18n/pl.json
  apps/web-calc/src/data/i18n/pt.json
  apps/web-calc/src/data/i18n/ro.json
  apps/web-calc/src/data/i18n/ru.json
  apps/web-calc/src/data/i18n/se.json
  apps/web-calc/src/data/i18n/si.json
  apps/web-calc/src/data/i18n/sk.json
  apps/web-calc/src/data/i18n/tg.json
  apps/web-calc/src/data/i18n/vn.json
Labels: status:review-OK

#2793 [3334] - fix: changed adding class in svg
  lib/shortcodes/alternatives.php
Labels: action:needs-review

#2796 [3323] - fix: changed conflict of styles for range text
  assets/styles/components/IconTabs.scss
Labels: action:needs-review

#2794 [3338] - fix: reduced height on top scroll panel on single articles
  assets/styles/components/compactHeader.scss
Labels: status:done, status:review-OK

#2798 [3343] Request for replacement of chatbot button in contact multiwidget on LiveAgent.com
  ai-chat-button.php
  assets/styles/components/_ContactUs.scss
  base-scripts.php
  contactus-box.php
Labels: status:done, status:review-OK

#2800 [3349] Chat & chatbot widget adjustments on the website
  ai-chat-button.php
  base-scripts.php
  chat-button.php
  contactus-box.php
Labels: status:review-OK
