Repository QualityUnit/liveagent-theme, pull requests merged in 2025-05, with the labels that each got.

#3049 feat: disable speculative loading via wordpress filter
  functions.php
  functions/disable-speculative-loading.php
Labels: status:done, status:review-OK

#3090 [3859] redesign compare pricing table and update design pricing page
  assets/scripts/custom/pricingNew.js
  assets/styles/common/_global.scss
  assets/styles/layouts/_ComparePlansNew.scss
  assets/styles/layouts/_PricingPrograms.scss
  assets/styles/layouts/_PricingTop.scss
  composer.lock
  functions/import-functions.php
Labels: status:review-OK

#3048 [3855] - fix: fixed alignment on form section
  assets/styles/layouts/LandingPPC.scss
  landing-ppc.php
  lib/metaboxes/landing-ppc.php
Labels: status:done, status:review-OK

#3045 [3860] - fix: changed landing ppc pages by new design
  .idea/php.xml
  assets/styles/components/_GoodHands.scss
  assets/styles/layouts/LandingPPC.scss
  landing-ppc.php
Labels: action:needs-review

#3047 [3809] - elements for client success story
  assets/images/icon-arrow-up-right-hover.svg
  assets/images/icon-arrow-up-right.svg
  assets/images/social_icons/website.svg
  assets/styles/elements/_PostTypography.scss
  lib/metaboxes/success-stories.php
  templates/content-single-ms_success-stories.php
Labels: action:needs-review

#3089 [3814] - ai features in features page
  assets/images/features-category_ai .jpg
  assets/images/features/archive/ai-features_item_bg.jpg
  assets/images/features/archive/ai-features_pillar.png
  assets/styles/common/_variables.scss
  assets/styles/pages/CategoryColorScheme.scss
Labels: action:needs-review

#3088 [3812] - migration list page
  assets/images/compact_header_migrations.png
  assets/images/migrations-featured.svg
  assets/scripts/custom/filter.js
  assets/styles/common/_variables.scss
  assets/styles/components/MigrationItem.scss
  assets/styles/components/compactHeader.scss
  assets/styles/pages/Migrations.scss
  functions/post-types.php
  lib/custom-blocks/compact-header.php
  lib/post-types/migrations.php
  templates/content-archive-ms_migrations.php
  templates/content-archive.php
  templates/footer.php
Labels: action:needs-review

#3091 Small design fixes in header and pricing page
  assets/styles/components/_Login.scss
  assets/styles/layouts/Header.scss
  assets/styles/layouts/_ComparePlansNew.scss
Labels: status:review-OK

#3092 Replace demo button with trial in header on mobile
  assets/styles/layouts/Header.scss
  templates/header.php
Labels: action:needs-review

#3096 [3411] - fix: changed styles good hangs and badges sections
  assets/styles/components/_GoodHands.scss
  assets/styles/shortcodes/BlockBadges.scss
Labels: action:needs-review

#3094 [3809] - fix: changed aligned on success stories
  assets/styles/elements/_PostTypography.scss
Labels: action:needs-review

#3093 [3860] - fix: fixed small styles and removed duplicate block
  assets/styles/layouts/LandingPPC.scss
  landing-ppc.php
Labels: action:needs-review

#3095 feat: replaced old capterra script with new
  assets/scripts/static/crmInstaller.js
Labels: action:needs-review

#3098 [3859] Implement new buttons based on data from A/B test - fixing small design changes
  assets/styles/elements/_Button.scss
  assets/styles/layouts/_ComparePlansNew.scss
Labels: action:needs-review

#3097 feat: replaced reddit script for tracking
  assets/scripts/static/crmInstaller.js
Labels: status:done, status:review-OK

#3099 [3888] Added linkedin tracing script to thank you page
  assets/scripts/static/crmInstaller.js
Labels: action:needs-review

#3101 [3415] Fix header function waht amkes consol error on trial page on dev liveagent
  assets/scripts/app/app.js
Labels: action:needs-review

#3103 [3410] Refactor tracker injection into modular handler methods
  assets/scripts/static/crmInstaller.js
Labels: status:review-OK
