Repository QualityUnit/liveagent-theme, pull requests merged in 2025-03, with the labels that each got.

#2934 Added related articles metabox and conditional display logic
  elementor.php
  functions/metaboxes.php
  lib/metaboxes/show-related-articles.php
Labels: action:needs-review

#2863 feat: flowhunt tracking added to theme
  assets/scripts/static/crmInstaller.js
  base-scripts.php
Labels: status:review-OK

#2937 [3376] - fix: removed captera and g2 badges on trial page
  assets/styles/pages/TrialRedesign.scss
  template-redeem-code.php
  template-trial-redesign.php
Labels: status:done, status:review-OK

#2948 [3787] - optimization pricing page
  assets/styles/layouts/_PricingPrograms.scss
Labels: action:needs-review

#2954 [3382] feat: preselected image list for header
  lib/metaboxes/landing-ppc.php
Labels: status:review-OK

#2953 [3378] - fix: changed text in trial page
  lib/shortcodes/signup-form-landingppc.php
  lib/shortcodes/signup-form.php
  template-trial-redesign.php
  templates/content-archive-ms_alternatives.php
Labels: action:needs-review

#2956 [3382] fix: showing header images in page editor
  landing-ppc.php
  lib/metaboxes/landing-ppc.php
Labels: status:done, status:review-OK

#2955 [3791] Spring Deal 2025 Promotion
  assets/styles/components/BlockCoupon.scss
  assets/styles/shortcodes/Countdown.scss
Labels: status:review-OK

#2957 [3382] fix: alt support for image, youtube id explanation
  landing-ppc.php
  lib/metaboxes/landing-ppc.php
Labels: action:needs-review

#2959 [3709] landingppc button
  landing-ppc.php
  lib/metaboxes/landing-ppc.php
Labels: action:needs-review

#2958 [3387] - fix: changed styles for coupon banner
  assets/styles/components/BlockCoupon.scss
  assets/styles/shortcodes/Countdown.scss
Labels: status:done, status:review-OK

#2960 fix: delete empty space in link
  landing-ppc.php
Labels: action:needs-review

#2961 fix: texts on the landing pages
  landing-ppc.php
  lib/shortcodes/good-hands-new.php
  lib/shortcodes/signup-form-landingppc.php
Labels: action:needs-review

#2962 [3787] - fix: changed hover styles for buttons
  assets/styles/layouts/_PricingPrograms.scss
Labels: action:needs-review

#2963 [3785] - universal cover for update blog article
  assets/styles/components/compactHeader.scss
  assets/styles/layouts/_Blog.scss
  functions/metaboxes.php
  lib/custom-blocks/compact-header.php
  lib/metaboxes/blog.php
  templates/content-archive.php
Labels: action:needs-review

#2965 [3387] - fix: changed styles for coupon banner
  assets/styles/components/BlockCoupon.scss
Labels: action:needs-review
