Repository QualityUnit/liveagent-theme, pull requests merged in 2025-04, with the labels that each got.

#3017 [3397] - fix: changed styles for form in demo page
  assets/styles/layouts/tests/RequestDemo.scss
Labels: status:done, status:review-OK

#3020 [3388] - overlaping elements industry page
  assets/styles/components/HeroHeadlineHome.scss
Labels: status:done, status:review-OK

#3021 [3397] - fix: changed height for demo form
  assets/styles/layouts/tests/RequestDemo.scss
Labels: action:needs-review

#3022 add ai chatbot section styling and background image
  assets/images/ai-chatbot-bg.jpg
  assets/styles/Elementor.scss
  assets/styles/components/AiChatbotSection.scss
Labels: status:done, status:review-OK

#3024 [3801] - new page for ai chatbot setup service
  assets/styles/Elementor.scss
  assets/styles/common/_global.scss
  assets/styles/common/_variables.scss
  assets/styles/components/Boxes.scss
  assets/styles/components/HeroHeadlineBanner.scss
  assets/styles/components/_BlockForm.scss
  assets/styles/components/_Faq.scss
  assets/styles/components/_HeadingIcon.scss
  assets/styles/components/_Labels.scss
  assets/styles/elements/_BulletLists.scss
Labels: status:done, status:review-OK

#3025 [3827] The internal links duplicity removal on LPs for PPC campaigns
  landing-ppc.php
  lib/metaboxes/landing-ppc.php
Labels: status:done, status:review-OK, action:needs-review

#3026 [3801] - fix ai chatbot setup service
  assets/images/icon-fh.svg
  assets/images/icon-file-description.svg
  assets/images/icon-flow.svg
  assets/images/icon-key.svg
  assets/images/icon-message-chatbot.svg
  assets/images/icon-message-dots.svg
  assets/images/icon-pencil-plus.svg
  assets/images/icon-read.svg
  assets/images/icon-settings-search.svg
  assets/images/icon-sparkles.svg
Labels: status:done, status:review-OK

#3029 Fix ai chatbot section on mobile
  assets/styles/components/AiChatbotSection.scss
Labels: status:review-OK

#3036 hide images inside BlockVideo wrapper if its element img
  assets/styles/components/BlockVideo.scss
Labels: action:needs-review

#3035 [3862] - feat: changed text on trial page
  assets/styles/layouts/LandingPPC.scss
  template-trial-redesign.php
Labels: action:needs-review

#3034 [3408] - fix: fixed duplicate articles of blog
  assets/scripts/custom/blogLazyLoad.js
  lib/rest-api/get-blog-posts.php
  templates/content-archive.php
Labels: status:review-OK

#3033 [3842] - feat: changed "block pricing" shortcode (removed free plan)
  assets/styles/shortcodes/BlockPricing.scss
  lib/shortcodes/block-pricing.php
Labels: action:needs-review

#3044 [3859] Implement new buttons based on data from A/B test
  assets/styles/common/_variables.scss
  assets/styles/components/Boxes.scss
  assets/styles/components/_Newsletter.scss
  assets/styles/components/_SignupSidebar.scss
  assets/styles/elements/_Button.scss
  assets/styles/elements/_LabelTag.scss
  assets/styles/layouts/Header.scss
  assets/styles/layouts/_ComparePlansNew.scss
  assets/styles/layouts/_PricingPrograms.scss
  lib/shortcodes/newsletter-form.php
  templates/footer.php
  templates/header.php
Labels: status:done, status:review-OK
